<div class="symptoms-block">
  <% day[:symptoms].first(7).each do |symptom| %>
    <span class="symptom-bullet" style="background-color:<%=symptom[:color]%>" data-target="agenda.all" data-symptom-target="<%=symptom[:name]%>"></span>
  <% end %>
  <% if day[:symptoms][7..8] %>
    <%= image_tag "cross-agenda", class:"symptom-bullet", data: {target: "agenda.cross"} %>
    <% day[:symptoms][7..8].each do |symptom| %>
      <span class="symptom-bullet d-none" style="background-color:<%=symptom[:color]%>" data-target="agenda.all" data-symptom-target="<%=symptom[:name]%>"></span>
    <% end %>
  <% end %>
</div>
