<div class="pb-5 padding-top-navbar min-100-vh-with-footer">
  <div class="container">
    <div class="d-md-flex justify-content-between mb-3 col-12 col-md-10 offset-md-1">
      <div class="d-none d-md-block">
        <%= link_to new_daily_symptom_path(day: @day) do  %>
          <span class="feature-name">MESURES</span>
        <% end %>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <% if @previous_daily_symptom.nil? %>
          <%= link_to new_daily_symptom_path(day: @day.prev_day) do %>
            <%= image_tag "arrow-left", class:"day-arrows" %>
          <% end %>
        <% elsif @edit_prev_day %>
          <%= link_to edit_daily_symptom_path(@previous_daily_symptom, day: @day.prev_day) do %>
            <%= image_tag "arrow-left", class:"day-arrows" %>
          <% end %>
        <% end %>
        <h3 class="px-3 mb-0"><%= l(@day, format:"%d %B %Y").capitalize %></h3>
        <% if @next_daily_symptom.nil? %>
          <%= link_to new_daily_symptom_path(day: @day.next_day) do %>
            <%= image_tag "arrow-right", class:"day-arrows" %>
          <% end %>
        <% elsif @edit_next_day %>
          <%= link_to edit_daily_symptom_path(@next_daily_symptom, day: @day.next_day) do %>
            <%= image_tag "arrow-right", class:"day-arrows" %>
          <% end %>
        <% end %>
      </div>
      <div>
      </div>
    </div>
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">
      <%= simple_form_for @daily_symptom do |f| %>
        <%= f.hidden_field :day, value: @day %>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center mb-3">
                <%= image_tag "agenda/pain.svg", class: 'symptom-icon'%>
                <h3 class='mb-0 ml-2'>Douleurs</h3>
              </div>
            </div>
            <%= f.input :pain_level, collection: 0..10, label: false %>
            <div class="dropdown-divider my-3"></div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center mb-3">
                <%= image_tag "agenda/blood.svg", class: 'symptom-icon'%>
                <h3 class='mb-0 ml-2'>Saignements</h3>
              </div>
            </div>
            <%= f.input :blood_level, collection: 0..5, label: false %>
            <div class="dropdown-divider my-3"></div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center mb-3">
                <%= image_tag "agenda/digestive_trouble.svg", class: 'symptom-icon'%>
                <h3 class='mb-0 ml-2'>Troubles digestifs</h3>
              </div>
            </div>
            <%= f.input :digestive_trouble_level, collection: 0..5, label: false %>
            <div class="dropdown-divider my-3"></div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center mb-3">
                <%= image_tag "agenda/stress.svg", class: 'symptom-icon'%>
                <h3 class='mb-0 ml-2'>Stress</h3>
              </div>
            </div>
            <%= f.input :stress_level, collection: 0..5, label: false %>
            <div class="dropdown-divider my-3"></div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center mb-3">
                <%= image_tag "agenda/insomnia.svg", class: 'symptom-icon'%>
                <h3 class='mb-0 ml-2'>Insomnie</h3>
              </div>
            </div>
            <%= f.input :insomnia_level, collection: 0..5, label: false %>
          </div>
          <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <%= image_tag "agenda/sport.svg", class: 'symptom-icon'%>
                <h3 class='mb-0 ml-2'>Sport</h3>
              </div>
              <%= f.input :sport, as: :boolean, checked_value: true, unchecked_value: false, label: 'oui' %>
            </div>
            <div class="dropdown-divider my-3"></div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <%= image_tag "agenda/emergency.svg", class: 'symptom-icon'%>
                  <h3 class='mb-0 ml-2'>Consultations/Urgences</h3>
                </div>
                <%= f.input :emergency, as: :boolean, checked_value: true, unchecked_value: false, label: 'oui' %>
              </div>
            <div class="dropdown-divider my-3"></div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <%= image_tag "agenda/analgesic.svg", class: 'symptom-icon'%>
                  <h3 class='mb-0 ml-2'>Antalgiques</h3>
                </div>
                <%= f.input :analgesic, as: :boolean, checked_value: true, unchecked_value: false, label: 'oui' %>
              </div>
            <div class="dropdown-divider my-3"></div>
            <div class="d-flex align-items-center mb-3">
              <%= image_tag "agenda/notes.svg", class: 'symptom-icon'%>
              <h3 class='mb-0 ml-2'>Notes</h3>
            </div>
            <%= f.input :notes, label: false %>
          </div>
          <div class="text-center w-100">
            <%= f.submit "Je valide", class: 'btn btn-primary btn-ee my-4' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
