<div class="pb-5 padding-top-navbar min-100-vh-with-footer">
  <div class="container">
    <div class="d-flex justify-content-between mb-3 col-12 col-md-10 offset-md-1">
      <div class="d-block d-lg-none">
      </div>
      <div class="d-none d-lg-block">
        <span class="feature-name">MESURES</span>
      </div>
      <div class="d-inline-flex align-items-center justify-content-center">
        <% if @previous_daily_symptom.nil? %>
          <%= link_to new_daily_symptom_path(day: @day.prev_day) do %>
            <%= image_tag "arrow-left", class:"day-arrows" %>
          <% end %>
        <% elsif @edit_prev_day %>
          <%= link_to edit_daily_symptom_path(@previous_daily_symptom) do %>
            <%= image_tag "arrow-left", class:"day-arrows" %>
          <% end %>
        <% end %>
        <h3 class="px-3 mb-0"><%= l(@day, format:"%d %B %Y").capitalize %></h3>
        <% unless @day.next_day > Date.today %>
          <% if @next_daily_symptom.nil? %>
            <%= link_to new_daily_symptom_path(day: @day.next_day) do %>
              <%= image_tag "arrow-right", class:"day-arrows" %>
            <% end %>
          <% elsif @edit_next_day %>
            <%= link_to edit_daily_symptom_path(@next_daily_symptom) do %>
              <%= image_tag "arrow-right", class:"day-arrows" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="d-none d-lg-block">
      </div>
      <div class="d-inline-block d-lg-none">
        <%= link_to daily_symptoms_path do  %>
          <%= image_tag "close-button-green.svg" %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-10 offset-md-1 mt-4">
      <%= simple_form_for @daily_symptom do |f| %>
        <%= f.hidden_field :day, value: @day %>
        <div class="row">
          <div class="col-12 col-lg-6 pr-lg-5">
            <div class="d-block d-lg-none dropdown-divider mb-4"></div>
            <%= render 'daily_symptoms/sliders/pain', daily_symptom: @daily_symptom, f: f %>
            <div class="dropdown-divider my-4"></div>
            <%= render 'daily_symptoms/sliders/blood', daily_symptom: @daily_symptom, f: f %>
            <div class="dropdown-divider my-4"></div>
            <%= render 'daily_symptoms/sliders/digestive', daily_symptom: @daily_symptom, f: f %>
            <div class="dropdown-divider my-4"></div>
            <%= render 'daily_symptoms/sliders/stress', daily_symptom: @daily_symptom, f: f %>
            <div class="dropdown-divider my-4"></div>
            <%= render 'daily_symptoms/sliders/insomnia', daily_symptom: @daily_symptom, f: f %>
            <div class="dropdown-divider my-4 d-block d-lg-none"></div>
          </div>
          <div class="col-12 col-lg-6 pl-lg-5 d-flex flex-column column-border-left">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <%= image_tag "agenda/sport.svg", class: 'symptom-icon'%>
                <h3 class='mb-0 ml-2'>Sport</h3>
              </div>
              <%= f.input :sport, as: :boolean, checked_value: true, unchecked_value: false, label: 'oui' %>
            </div>
            <div class="dropdown-divider my-4"></div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <%= image_tag "agenda/emergency.svg", class: 'symptom-icon'%>
                  <h3 class='mb-0 ml-2'>Consultations/Urgences</h3>
                </div>
                <%= f.input :emergency, as: :boolean, checked_value: true, unchecked_value: false, label: 'oui' %>
              </div>
            <div class="dropdown-divider my-4"></div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <%= image_tag "agenda/analgesic.svg", class: 'symptom-icon'%>
                  <h3 class='mb-0 ml-2'>Antalgiques</h3>
                </div>
                <%= f.input :analgesic, as: :boolean, checked_value: true, unchecked_value: false, label: 'oui' %>
              </div>
            <div class="dropdown-divider my-4"></div>
            <div class="d-flex align-items-center mb-3">
              <%= image_tag "agenda/notes.svg", class: 'symptom-icon'%>
              <h3 class='mb-0 ml-2'>Notes</h3>
            </div>
            <%= f.input :notes, label: false, input_html: {class: 'h-100', style:'min-height: 200px;'}, wrapper_html: {style: 'flex: 1;'} %>
          </div>
          <div class="text-center w-100">
            <%= f.submit "Je valide", class: 'btn btn-primary btn-ee mb-4 mt-5' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
