<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center mb-3">
    <%= image_tag "agenda/insomnia.svg", class: 'symptom-icon'%>
    <h3 class='mb-0 ml-2'>Insomnie</h3>
  </div>
</div>
<div class="range-slider" data-controller="range-slider-insomnia">
  <div class="w-100 d-flex justify-content-between align-items-end">
    <%= image_tag "agenda/insomnia1.svg", class: 'insomnia-icon mb-1'%>
    <strong><output class="slider-scale text-mini"
    data-target="range-slider-insomnia.value"><%= image_tag "agenda/insomnia1.svg", class: 'insomnia-icon mb-1'%></output></strong>
    <%= image_tag "agenda/insomnia6.svg", class: 'insomnia-icon mb-1'%>
  </div>
  <input type="range"
   data-target="range-slider-insomnia.range"
   data-action="input->range-slider-insomnia#updateValue"
   value="<%= daily_symptom.insomnia_level ? daily_symptom.insomnia_level : 0 %>"
   min="0"
   max="5"
   step="1">
  <%= f.input :insomnia_level, as: :hidden, input_html: { data: { target: "range-slider-insomnia.hidden" } }, collection: 0..5, label: false %>
</div>
