<div class="pb-5 padding-top-navbar min-100-vh-with-footer" data-controller="charts">
  <div class="container">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="row">

        <div class="col-12 col-lg-4 pr-lg-5">
          <div class="d-none d-lg-block mb-4">
            <%= link_to daily_symptoms_path do  %>
              <span class="feature-name">MON AGENDA</span>
            <% end %>
          </div>

          <div class="row mt-4">
            <div class="col-4 col-lg-6">
              <div class="icon-agenda d-flex flex-column justify-content-center align-items-center underline">
                <%= image_tag "agenda/pain.svg", class: "symptom-icon", data: { action: "click->charts#toggle", symptom: "painChart" } %>
                <h3 data-action="click->charts#toggle" data-symptom="painChart">Douleurs</h3>
              </div>
            </div>
            <div class="col-4 col-lg-6">
              <div class="icon-agenda d-flex flex-column justify-content-center align-items-center underline">
                <%= image_tag "agenda/blood.svg", class: "symptom-icon", data: { action: "click->charts#toggle", symptom: "bloodChart" } %>
                <h3 data-action="click->charts#toggle" data-symptom="bloodChart">Saignements</h3>
              </div>
            </div>
            <div class="col-4 col-lg-6">
              <div class="icon-agenda d-flex flex-column justify-content-center align-items-center underline">
                <%= image_tag "agenda/digestive_trouble.svg", class: "symptom-icon", data: { action: "click->charts#toggle", symptom: "digestiveTroubleChart" } %>
                <h3 data-action="click->charts#toggle" data-symptom="digestiveTroubleChart">Troubles digestifs</h3>
              </div>
            </div>
            <div class="col-4 col-lg-6">
              <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
                <%= image_tag "agenda/stress.svg", class: "symptom-icon", data: { action: "click->charts#toggle", symptom: "stressChart" } %>
                <h3 data-action="click->charts#toggle" data-symptom="stressChart">Stress</h3>
              </div>
            </div>
            <div class="col-4 col-lg-6">
              <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
                <%= image_tag "agenda/insomnia.svg", class: "symptom-icon", data: { action: "click->charts#toggle", symptom: "insomniaChart" } %>
                <h3 data-action="click->charts#toggle" data-symptom="insomniaChart">Insomnie</h3>
              </div>
            </div>
            <div class="col-4 col-lg-6">
              <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
                <%= image_tag "agenda/sport.svg", class: "symptom-icon", data: { action: "click->charts#toggle", symptom: "sportChart" } %>
                <h3 data-action="click->charts#toggle" data-symptom="sportChart">Sport</h3>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="reset-filters text-center" data-action="click->charts#resetFilters">Effacer les filtres</p>
              </div>
            </div>
          </div>
        </div>

        <%# Graphiques %>
        <div class="col-12 col-lg-8">

          <div class="d-flex align-items-center justify-content-center mb-4">
            <%= link_to graph_path(base_period: "week", base_day: (@monday - 7)) do %>
              <%= image_tag "arrow-left", class:"day-arrows" %>
            <% end %>
            <h3 class="px-3 mb-0">Semaine du <%= l(@monday, format:"%d %B") %> au <%= l((@monday + 6), format:"%d %B") %></h3>
            <%= link_to graph_path(base_period: "week", base_day: (@monday + 7)) do %>
              <%= image_tag "arrow-right", class:"day-arrows" %>
            <% end %>
          </div>

          <div class="graphs-container" data-target="charts.graphs" data-value="<%= @graphs.to_json %>">
            <% @graphs.first(3).each do |graph| %>
              <div data-symptom-target="<%= graph[:id] %>">
                <h3 class="mb-0 mt-2"><%= graph[:label] %></h3>
                <div class="chart-container">
                  <canvas id="<%= graph[:id] %>"></canvas>
                </div>
              </div>
            <% end %>
            <% @graphs[3..4].each do |graph| %>
              <div class="d-none" data-symptom-target="<%= graph[:id] %>">
                <h3 class="mb-0 mt-2"><%= graph[:label] %></h3>
                <div class="chart-container">
                  <canvas id="<%= graph[:id] %>"></canvas>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
