<% content_for :meta_title, "Agenda | easy endo" %>
<div class="bg pb-5 padding-top-navbar min-100-vh-with-footer">
  <div class="container">
    <div class="d-flex flex-column-reverse flex-md-row mb-3 col-12 col-md-10 offset-md-1">
      <div class="col-12 col-md-4">
        <div class="d-none d-md-block mb-3">
          <span class="feature-name">MON AGENDA</span>
        </div>
        <div class="border w-100">
          Bloc symptoms
        </div>
      </div>
      <div class="col-12 col-md-8 rounded shadow">
        <div class="">
          <div class="d-flex align-items-center justify-content-center">
            <%= link_to "<", daily_symptoms_path(month: @first_day_of_month.prev_month) %>
            <h3 class="px-3"><%= l(@first_day_of_month, format:"%B %Y").capitalize %></h3>
            <%= link_to ">", daily_symptoms_path(month: @first_day_of_month.next_month) %>
          </div>
        </div>
        <div class="row">
          <div class="day">Lundi</div>
          <div class="day">Mardi</div>
          <div class="day">Mercredi</div>
          <div class="day">Jeudi</div>
          <div class="day">Vendredi</div>
          <div class="day">Samedi</div>
          <div class="day">Dimanche</div>
        </div>
        <div class="row">
          <% @start_empty_cells.times do %>
            <div class="day"></div>
          <% end %>
          <% @number_of_days_in_month.times do  %>
            <div class="day">
              <%= link_to new_daily_symptom_path(day: @first_day_of_month) do %>
                <%= @first_day_of_month.day %>
              <% end %>
            </div>
            <% @first_day_of_month += 1 %>
          <% end %>
          <% @end_empty_cells.times do %>
            <div class="day"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
