<div class="bg padding-top-navbar">
  <div class="container">
    <div class="row">
      <div class="d-md-flex justify-content-between mb-3 col-12 col-md-10 offset-md-1">
        <div class="d-none d-md-block">
          <span class="feature-name">Profile</span>
        </div>
      </div>
      <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs mt-0 mt-md-4">
            <div class="text-center">
              <%= cl_image_tag resource.profile_picture, class: "avatar-xl" %>
            </div>
            <div class="text-center">
              <%= f.input :avatar, as: :file, input_html: { class: 'd-none' }, label: 'Modifier mon image' %>
            </div>
            <%= f.input :first_name, required: true, autofocus: true, label: "Prénom" %>
            <%= f.input :last_name, required: true, autofocus: true, label: "Nom" %>
            <%= f.input :email, required: true, autofocus: true, label: "Email" %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
            <% end %>

            <%= f.input :password,
                        hint: "N'écrire ici que si vous souhaitez modifier votre mot de passe. <br>- minimum 8 caractères<br>- 1 caractère spécial<br>- 1 majuscule<br>- 1 chiffre".html_safe,
                        required: false,
                        label: "Nouveau mot de passe",
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: false,
                        label: "Confirmation du nouveau mot de passe",
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :pseudo,
                        hint: "- minimum 5 caractères <br> - pas d'espaces".html_safe,
                        required: false,
                        label: "Pseudo",
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password,
                        hint: "Nous avons besoin de votre mot de passe actuel pour valider ces modifications",
                        required: true,
                        label: "Mot de passe actuel",
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions">
            <div class="text-center">
              <%= f.button :submit, "JE VALIDE", class: 'btn btn-primary btn-ee-large my-4' %>
              <p><%#= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete, class: 'text-mini' %></p>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
