<% content_for :meta_title, "Inscription | easy endo" %>
<div class="bg  padding-top-navbar">
  <div class="container pb-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <h1 class="text-center my-4">easy endo vous aide à mieux vivre votre endométriose</h1>
      </div>
      <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4">


        <div class="px-5 mt-4">
          <h2><%= t(".sign_up") %></h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>


            <div class="form-inputs">
              <%= f.input :first_name,
                          required: true,
                          autofocus: true ,
                          label: false,
                          placeholder: "Prénom",
                          input_html: { autocomplete: "prenom" }%>
              <%= f.input :last_name,
                          required: true,
                          autofocus: true ,
                          label: false,
                          placeholder: "Nom",
                          input_html: { autocomplete: "nom" }%>
              <%= f.input :pseudo,
                          required: true,
                          autofocus: true ,
                          label: false,
                          placeholder: "Pseudo pour le forum" %>
              <%= f.input :email,
                          required: true,
                          autofocus: true ,
                          label: false,
                          error: "Email non valide ou non disponible",
                          placeholder: "Email",
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          label: false,
                          placeholder: "Mot de passe",
                          error: "Votre mot de passe n'est pas assez complexe, il doit contenir au minimum 8 caractères dont 1 caractère spécial, 1 majuscule, 1 chiffre",
                          hint: "Votre mot de passe doit contenir : <br>- minimum 8 caractères<br>- 1 caractère spécial (#?.!@$%^&*-_)<br>- 1 majuscule<br>- 1 chiffre".html_safe,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          label: false,
                          required: true,
                          placeholder: "Confirmation du mot de passe",
                          error: "Mots de passe non concordants",
                          input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="text-mini text-green">
              En cliquant sur le bouton «Je m’inscris», je reconnais avoir lu les <u> <%= link_to "CGU", asset_path("conditions-generales-utilisation.pdf"), class: 'text-mini-bold' %></u> et la <u><%= link_to "politique de confidentialité", asset_path("politique-de-protection-des-donnees-personnelles.pdf"),class: 'text-mini-bold'  %></u> et en accepter pleinement les termes. Je reconnais ainsi avoir été informée du traitement de mes données personnelles opéré par easy endo pour les besoins de l’utilisation de mon compte, des droits que je détiens sur mes données et comment les exercer.
            </div>

            <div class="form-actions text-center mt-4 pt-2">
              <div>
                <%= f.button :submit, "JE M'INSCRIS", class: "btn btn-primary btn-ee-large text-mini" %>
              </div>
              <div>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%= render 'shared/partners' %>
    </div>
  </div>
</div>


