<style>
  p {
    font-family: sans-serif;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  img {
    width: 200px;
  }
  .mb-3 {
    margin-bottom: 20px;
  }
</style>

<p class='mb-3'>Bonjour <%= @user.first_name.capitalize %></p>

<p>Nous avons bien reçu votre demande d'inscription au webinar easy Live : <%= @webinar.title %>  avec  <%= @webinar.title %>, qui se déroulera le <%= l(@webinar.start_at, format:"%d %B %Y à %Hh%M") %>.</p>

<p>Vous recevrez très prochainement un mail pour confirmer votre présence. Surveillez bien votre boîte de réception !
Et le jour de l'événement, nous vous enverrons le lien d'accès pour vous connecter au webinar.</p>

<p>Si vous le souhaitez, nous vous invitons à nous faire parvenir d'ores et déjà vos questions par le <%= link_to "formulaire de contact", new_contact_url %> au sein d'easy endo ou par mail à bonjour@easyendo.fr.</p>

<p class='mb-3'>Nous vous remercions pour votre confiance, </p>

<p>Bien à vous, </p>
<p class='mb-3'>L'équipe easy endo</p>
<%= image_tag 'logo-pink.png' %>
