<div class="article-card">
  <div class="d-flex align-items-center">
    <div class="mr-3 mr-md-4">
      <span class="category-bullet-big <%= article.category %>"></span>
    </div>

    <div class="truncated pr-3">
      <%= link_to article_path(article) do %>
        <div class="text-small text-info d-none d-md-block">
          <%= t("article.#{article.category}") %>
        </div>
        <h2 class="my-1"><b><%= article.title %></b></h2>
        <div class="text-mini text-info d-none d-md-block"><%= l(article.created_at, format:"%d %B %Y") %> - Temps de lecture : <%= article.reading_time %>
        </div>
        <div class="text-mini text-info d-block d-md-none"> Temps de lecture : <%= article.reading_time %>
        </div>
      <% end %>
    </div>

    <div class="my-auto">
      <%= link_to article_path(article) do %>
        <% if article.cover.attached? %>
          <%= cl_image_tag article.cover.key, quality: :auto, fetch_format: :auto, width: 200, height: 150, crop: :limit %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="dropdown-divider my-4"></div>
</div>
