<div class="bg mt-2 pb-5">
  <div class="container mt-2">
    <div>
    <% if policy(Article).new? %>
      <%= link_to "Écrire un nouvel article", new_article_path %>
    <% end %>
    </div>

    <div>
      <span class="feature-name">News</span>
    </div>

    <div class="col-md-10 offset-md-1 d-none d-md-block">
      <div class="row">
        <% Article.categories.keys.each do |category| %>
          <div class="col-4">
            <div class="d-flex align-items-center justify-content-center mb-2 mx-2">
              <span class="category-bullet <%= category %>"></span>
              <h2 class="ml-2 mb-0">  <%= t("article.#{category}") %></h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="d-block d-md-none">
      <div class="wrapper-bullets-mobile d-flex text-center">
        <% Article.categories.keys.each do |category| %>
          <div class="d-flex align-items-center mb-2 mx-2">
            <span class="category-bullet <%= category %>"></span>
            <h2 class="ml-2 mb-0">  <%= t("article.#{category}") %></h2>
          </div>
        <% end %>
      </div>
    </div>

    <div class="dropdown-divider dropdown-divider-short my-5 mx-auto"></div>

    <div class="d-flex justify-content-center">
      <% Article.media_types.keys.each do |media| %>
        <div class="d-flex align-items-center justify-content-center mb-2 mx-4">
          <%= image_tag "#{media}.svg", class: 'media-type-icon' %>
          <h2 class="ml-2 mb-0"><%= t("article.#{media}")%></h2>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-10 offset-md-1 mt-4">
      <% @articles.each do |article| %>
        <div class="article-card">
          <div class="dropdown-divider"></div>
          <div class="my-4">
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <div class="mr-4 my-auto">
                  <span class="category-bullet-big <%= article.category %>"></span>
                </div>
                <div class="my-auto">
                  <div class="text-small text-info">
                    <%= t("article.#{article.category}") %>
                  </div>
                  <h1 class="my-1"><%= article.title %></h1>
                  <div class="text-mini text-info"><%= l(article.created_at, format:"%d %B %Y") %> - <%= article.reading_time %></div>
                  <div class="d-flex">
                    <% if policy(Article).edit? %>
                      <%= link_to "Modifier", edit_article_path(article), class: 'text-mini' %>
                    <% end %>
                    <% if policy(Article).destroy? %>
                      <%= link_to "Supprimer", article_path(article), method: :delete, data: {confirm: "Souhaitez-vous supprimer définitvement cet article ? Cette action est irréversible."}, class: "ml-2 text-mini" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div>
                <% if article.cover.attached? %>
                  <%= cl_image_tag article.cover.key %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="d-flex justify-content-center">
    <%= will_paginate @articles %>
  </div>
</div>
