<div class="bg mt-2 pb-5">
  <div class="container min-100-vh-with-navbar-footer mt-2">
    <div>
    <% if policy(Article).new? %>
      <%= link_to "Écrire un nouvel article", new_article_path %>
    <% end %>
    </div>

    <div>
      <span class="feature-name">News</span>
    </div>

  <%= form_tag articles_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "douleur, alimentation..."
    %>
  <% end %>

  <%= render "categories-desktop" %>

  <%= render "categories-mobile" %>

  <div class="dropdown-divider dropdown-divider-short my-5 mx-auto"></div>

  <%= render "media-types" %>

  <div class="d-flex justify-content-center">
    <%= will_paginate @articles %>
  </div>
</div>
