<% content_for :meta_title, "News | easy endo" %>
<div class="bg pb-5 padding-top-navbar min-100-vh-with-footer">
  <div class="container">
    <div class="d-md-flex justify-content-between mb-3 col-12 col-md-10 offset-md-1">
      <div class="d-none d-md-block">
        <%= link_to articles_path do  %>
          <span class="feature-name">News</span>
        <% end %>
      </div>
      <%= render "search-bar" %>
    </div>

    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">
      <%= render "categories-desktop" %>
    </div>
  </div>

  <%= render "categories-mobile" %>

  <div class="container">
    <%= render "unordered-articles", articles: @articles %>

    <div class="d-flex justify-content-center mt-5">
      <%= will_paginate @articles %>
    </div>
  </div>
</div>
