<div class="webinar-card">
  <div class="d-flex align-items-center">
    <div class="mr-2 mr-md-4">
      <span class="category-bullet <%= webinar.category %>"></span>
    </div>

    <div class="truncated pr-2">
      <%= link_to webinar_path(webinar) do %>
        <div class="text-info">
          <%= t("webinar.#{webinar.category}") %>
        </div>
        <h2 class="my-1 pr-0"><b><%= webinar.title %></b></h2>
        <div class="text-mini text-info">
          <%= l(webinar.start_at, format:"%d %B %Y - %Hh%M") %>
        </div>
        <div class="text-mini text-info mt-1">
          avec <%= webinar.speaker_name %>
        </div>
      <% end %>
    </div>

    <div class='my-auto'>
      <%= link_to webinar_path(webinar) do %>
        <% if webinar.speaker_picture.attached? %>
          <div class="d-none d-md-block">
            <%= cl_image_tag webinar.speaker_picture.key, width: 120, height: 120, crop: :fill, quality: :auto, fetch_format: :auto, class:"avatar avatar-xl" %>
          </div>
          <div class="d-block d-md-none">
            <%= cl_image_tag webinar.speaker_picture.key, width: 120, height: 120, crop: :fill, quality: :auto, fetch_format: :auto, class:"avatar avatar-medium" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="dropdown-divider my-4"></div>
</div>
