<% content_for :meta_title, "#{@webinar.title} | easy endo" %>
<div class="bg padding-top-navbar pb-5 min-100-vh-with-footer">
  <div class="container">
    <div class="d-md-flex justify-content-between d-none d-md-block mb-md-5 col-12 col-md-10 offset-md-1">
      <%= link_to webinars_path do %>
          <span class="feature-name">easy Live</span>
        <% end %>
      <%= render "subscription-status", webinar: @webinar, webinar_subscription: @webinar_subscription, checkout_session_id: @checkout_session_id %>
    </div>

    <div class="text-center col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <% if @webinar.speaker_picture.attached? %>
        <%= cl_image_tag @webinar.speaker_picture.key, width: 120, height: 120, crop: :fill, quality: :auto, fetch_format: :auto, class:"avatar avatar-xl" %>
      <% end %>
      <h1 class="mt-3 mb-2"><%= @webinar.title %></h1>
      <p class="text-green mb-2"><span class="text-pink">Invitée : </span><%= @webinar.speaker_name %></p>
      <p class="text-info text-small"><%= l(@webinar.start_at, format:"%d %B %Y - %Hh%M") %></p>

      <div class="d-block d-md-none">
        <%= render "subscription-status", webinar: @webinar, webinar_subscription: @webinar_subscription, checkout_session_id: @checkout_session_id %>
      </div>

     <div class="dropdown-divider dropdown-divider-short my-5 mx-auto"></div>
    </div>

    <div class="col-md-8 offset-md-2 pb-5">
      <%= @webinar.description %>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-webinar">
      <div class="d-flex justify-content-end">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-green text-center">
        <p class='mt-4'>Vous n'êtes pas abonnée à ce service.</p>
        <p>Pour assister à ce webinar easy Live, merci de souscrire à cette session en cliquant <span id="pay" class='text-underline' style='cursor: pointer'><strong>ici</strong></span>, ou vous abonner à easy endo en vous rendant sur la page <%= link_to "abonnement", products_path, class: 'text-underline' %>.</p>
        <p>À très vite !<p>
      </div>
    </div>
  </div>
</div>

<script>
  let paymentButton = document.getElementById('pay');
  if (paymentButton) {
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @checkout_session_id %>'
      });
    });
  }
</script>
