<div class="bg padding-top-navbar pb-5 min-100-vh-with-footer">
  <div class="container">
    <div class="d-md-flex justify-content-between d-none d-md-block mb-md-5 col-12 col-md-10 offset-md-1">
      <%= link_to webinars_path do %>
          <span class="feature-name">easy Live</span>
        <% end %>
      <%= render "subscription-status", webinar: @webinar, webinar_subscription: @webinar_subscription, checkout_session_id: @checkout_session_id %>
    </div>

    <div class="text-center col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <% if @webinar.speaker_picture.attached? %>
        <%= cl_image_tag @webinar.speaker_picture.key, width: 120, height: 120, crop: :fill, quality: :auto, fetch_format: :auto, class:"avatar-xl" %>
      <% end %>
      <h1 class="mt-3 mb-2"><%= @webinar.title %></h1>
      <p class="text-green mb-2"><span class="text-pink">Invitée : </span><%= @webinar.speaker_name %></p>
      <p class="text-info text-small"><%= l(@webinar.start_at, format:"%d %B %Y - %Hh%M") %></p>

      <div class="d-block d-md-none">
        <%= render "subscription-status", webinar: @webinar, webinar_subscription: @webinar_subscription, checkout_session_id: @checkout_session_id %>
      </div>

     <div class="dropdown-divider dropdown-divider-short my-5 mx-auto"></div>
    </div>

    <div class="col-md-8 offset-md-2 pb-5">
      <%= @webinar.description %>
    </div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  const paymentButton = document.getElementById('pay');
  if (paymentButton) {
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @checkout_session_id %>'
      });
    });
  }
</script>
