<div class="bg pb-5 padding-top-navbar">
  <div class="container">
    <div class="d-md-flex justify-content-between d-none d-md-block mb-md-5 col-12 col-md-10 offset-md-1">
      <span class="feature-name my-auto">easy Live</span>

      <% if @subscription.present? %>
        <div class="d-flex align-items-center"><%= image_tag "confirmation.svg", class:"confirmation-image" %> <div class="d-flex flex-column text-mini text-green text-header"><span>Inscription</span><span>confirmée</span></div></div>
      <% else %>
        <%= link_to "Je m'inscris", webinar_webinar_subscriptions_path(@webinar), method: :post, remote: true, class:"btn btn-primary btn-ee" %>
      <% end %>
    </div>

    <div class="text-center col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <% if @webinar.speaker_picture.attached? %>
        <%= cl_image_tag @webinar.speaker_picture.key, width: 120, height: 120, crop: :fill, quality: :auto, fetch_format: :auto, class:"avatar-xl" %>
      <% end %>
      <h1 class="mt-3 mb-2"><%= @webinar.title %></h1>
      <p class="text-green mb-2"><span class="text-pink">Invitée : </span><%= @webinar.speaker_name %></p>
      <p class="text-info text-small"><%= l(@webinar.start_at, format:"%d %B %Y - %Hh%M") %></p>

      <div class="d-block d-md-none">
        <% if @subscription.present? %>
          <div class="d-flex align-items-center justify-content-center"><%= image_tag "confirmation.svg", class:"confirmation-image" %> <div class="d-flex flex-column text-mini text-green text-header"><span>Inscription</span><span>confirmée</span></div></div>
        <% else %>
          <%= link_to "Je m'inscris", webinar_webinar_subscriptions_path(@webinar), method: :post, remote: true, class:"btn btn-primary btn-ee" %>
        <% end %>
      </div>

     <div class="dropdown-divider dropdown-divider-short my-5 mx-auto"></div>
    </div>

    <div class="col-md-8 offset-md-2 pb-5">
      <%= @webinar.description %>
    </div>
  </div>
</div>
