<div class="article-card">
  <div class="d-flex align-items-center">
    <div class="mr-2 mr-md-4">
      <span class="category-bullet <%= infoendo.category %>"></span>
    </div>

    <div class="truncated pr-2">
      <%= link_to infoendo_path(infoendo) do %>
        <div class="text-info d-none d-md-block">
          <%= t("infoendo.#{infoendo.category}") %>
        </div>
        <h2 class="my-1 pr-0"><b><%= infoendo.title %></b></h2>
        <div class="text-mini text-info d-none d-md-block"><%= l(infoendo.created_at, format:"%d %B %Y") %> - Temps de lecture : <%= infoendo.reading_time %>
        </div>
        <div class="text-mini text-info d-block d-md-none"> durée : <%= infoendo.reading_time %>
        </div>
      <% end %>
    </div>

    <div class='my-auto'>
      <%= link_to infoendo_path(infoendo) do %>
        <% if infoendo.cover.attached? %>
          <%= cl_image_tag infoendo.cover.key, quality: :auto, fetch_format: :auto, width: 400, height: 400, crop: :limit %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
