<div class="bg padding-top-navbar">
  <div class="container">
    <div class="d-md-flex justify-content-between col-12 col-md-10 offset-md-1">
      <div class="d-none d-md-block">
        <%= link_to profil_path do %>
          <span class="feature-name">Profil</span>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4">

        <%= simple_form_for(@user) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs mt-0 mt-md-4" data-controller="photo-preview">
            <div class="text-center">
              <%= image_tag "", width: 300, class: "hidden cursor-pointer", data: { target: "photo-preview.photoPreview", action: "click->photo-preview#clickInput" } %>
              <%= cl_image_tag @user.profile_picture, width: 120, height: 120, crop: :fill, quality: :auto, fetch_format: :auto, class: "avatar avatar-xl cursor-pointer", data: { target: "photo-preview.currentAvatar", action: "click->photo-preview#clickInput" } %>
            </div>
            <div class="text-center">
              <%= f.input :avatar, as: :file, input_html: { class: 'd-none', data: { action: "change->photo-preview#display", target:"photo-preview.avatarInput" } }, label: 'Modifier mon image' %>
            </div>
            <%= f.input :first_name, required: false, autofocus: true, label: "Prénom" %>
            <%= f.input :last_name, required: false, autofocus: true, label: "Nom" %>
            <%= f.input :email, required: false, autofocus: true, label: "Email" %>
            <%= f.input :pseudo,
                        hint: "- minimum 5 caractères <br> - pas d'espaces".html_safe,
                        required: false,
                        label: "Pseudo",
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <div class="text-center">
              <%= f.button :submit, "JE VALIDE", class: 'btn btn-primary btn-ee-large my-4' %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
