<div class="bg padding-top-navbar">
  <div class="container text-green pb-5">
    <div class="d-md-flex justify-content-between col-12 col-md-10 offset-md-1">
      <div class="d-none d-md-block">
        <%= link_to profil_path do %>
          <span class="feature-name">Profil</span>
        <% end %>
      </div>
    </div>

    <%= render "profile_informations", user: @user %>

    <div class="row mt-3 mt-md-5">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="row">
          <div class="col-12 col-md-6 border-col-profile-desktop px-4 px-md-5">
            <div class="dropdown-divider my-4 my-md-5 mx-5 d-block d-md-none"></div>
            <%= render "abonnement" %>

            <div class="d-block d-md-none">
              <div class="dropdown-divider my-4 my-md-5 mx-5"></div>
              <%= render "favorites", favorites: @favorites %>
            </div>

            <div class="dropdown-divider my-4 my-md-5 mx-5"></div>
            <%= render "discussions" %>
            <div class="dropdown-divider my-4 my-md-5 mx-5"></div>
            <%= render "easy_lives", user: @user %>
            <div class="dropdown-divider my-4 my-md-5 mx-5 d-md-none"></div>
          </div>
          <div class="col-12 col-md-6 px-4 px-md-5 d-none d-md-block">
            <%= render "favorites", favorites: @favorites %>
          </div>
        </div>
      </div>
    </div>
    <%= render "delete_account", user: @user %>
  </div>
</div>
