<% content_for :meta_title, "#{@user.full_name} | easy endo" %>
<div class="bg padding-top-navbar">
  <div class="container text-green pb-5">
    <div class="d-md-flex justify-content-between col-12 col-md-10 offset-md-1">
      <div class="d-none d-md-block">
        <%= link_to profil_path do %>
          <span class="feature-name">Profil</span>
        <% end %>
      </div>
    </div>

    <%= render "profile_informations" %>

    <div class="row mt-3 mt-md-5">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="row">
          <div class="col-12 col-md-6 border-col-profile-desktop px-4 px-md-5">
            <!-- <div class="dropdown-divider my-4 my-md-5 mx-5 d-block d-md-none"></div> -->
            <%#= render "abonnement" %>

            <div class="d-block d-md-none">
              <div class="dropdown-divider my-4 my-md-5 mx-5"></div>
              <%= render "favorites_section", favorites: @favorites, first_favorites: @favorites.first(5), last_favorites: @favorites[5..-1] %>
            </div>

            <div class="dropdown-divider my-4 my-md-5 mx-5 d-block d-md-none"></div>
            <%= render "discussions" %>
            <div class="dropdown-divider my-4 my-md-5 mx-5"></div>
            <%= render "easy_lives", user: @user %>
            <div class="dropdown-divider my-4 my-md-5 mx-5 d-md-none"></div>
          </div>
          <div class="col-12 col-md-6 px-4 px-md-5 d-none d-md-block">
            <%= render "favorites_section", favorites: @favorites, first_favorites: @favorites, last_favorites: [] %>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-center align-items-center">
      <% if current_user.admin? %>
        <%= link_to "DASHBOARD", dashboard_path, class: "btn btn-primary text-mini btn-ee mb-4 mx-2" %>
      <% end %>

      <%= link_to "DÉCONNEXION", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-ee text-mini mb-4 mx-2" %>
    </div>

    <%= render "delete_account", user: @user %>
  </div>
</div>
