<footer>
  <div class="text-center mt-4">
    <%= image_tag 'logo_green.svg', class: 'logo-footer' %>
  </div>

  <div class="row my-5">
    <div class="col-6 border-col-footer-mobile text-center">
      <div class="d-inline-block text-left">
        <div class="footer-subtitle pb-2">
          <%= link_to "Mon agenda", main_app.root_path  %>
        </div>
        <div class="footer-subtitle py-2">
          <%= link_to "À savoir", main_app.root_path  %>
        </div>
        <div class="footer-subtitle py-2">
          <%= link_to "News", main_app.articles_path  %>
        </div>
        <div class="footer-subtitle py-2">
          <%= link_to "Que faire si...", main_app.algorythm_path  %>
        </div>
        <div class="footer-subtitle py-2">
          <%= link_to "Forum", main_app.root_path  %>
        </div>
        <div class="footer-subtitle pt-2">
          <%= link_to "easy Live", main_app.webinars_path  %>
        </div>
      </div>
    </div>
    <div class="col-6 text-center">
      <div class="d-inline-block text-left">
        <div class="footer-subtitle pb-2">
          <%= link_to "Abonnement", main_app.root_path  %>
        </div>
        <div class="footer-subtitle py-2">
          <%= link_to "Équipe", main_app.team_path  %>
        </div>
        <div class="footer-subtitle py-2">
          <%= link_to "Profil", main_app.root_path  %>
        </div>
        <div class="footer-subtitle py-2">
          <%= link_to "Contact", main_app.new_contact_path  %>
        </div>
        <div class="footer-subtitle pb-2">
          <%= link_to "Cadre</br>réglementaire".html_safe, main_app.legals_path  %>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mb-4">
    <div class="footer-subtitle">
      <div class="d-flex justify-content-center">
        <div class="mx-3">
          <%= link_to "#" do  %>
            <i class="fab fa-facebook-f mr-2"></i>
          <% end %>
        </div>
        <div class="mx-3">
          <%= link_to "#" do  %>
            <i class="fab fa-instagram mr-2"></i>
          <% end %>
        </div>
        <div class="mx-3">
          <%= link_to "#" do  %>
            <i class="fab fa-linkedin-in mr-2"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mb-4">
    <div class="footer-subtitle">
      <div class="d-flex justify-content-center">
        <div class="mx-3">
          logo
        </div>
        <div class="mx-3">
          logo
        </div>
        <div class="mx-3">
          logo
        </div>
        <div class="mx-3">
          logo
        </div>
      </div>
    </div>
  </div>

  <div class="text-center text-mini">
    © 2020 M&E Care - easy endo
  </div>


</footer>
