<footer>
  <div class="d-flex justify-content-center pt-4">
    <div class="mr-3">
      <%= image_tag 'logo_green.svg', class: 'logo-footer' %>
    </div>
    <div class="mx-3">
      <div class="footer-title">
        Mes services
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "Mon agenda", daily_symptoms_path  %>
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "À savoir", infoendos_path  %>
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "News", articles_path  %>
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "Que faire si...", algorythm_path, data: { turbolinks: 'false' }  %>
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "Forum", forum_path  %>
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "easy Live", webinars_path  %>
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "Abonnement", root_path  %>
      </div>
    </div>
    <div class="mx-3">
      <div class="footer-title">
        Qui sommes-nous ?
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "Équipe", team_path  %>
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "Contact", new_contact_path  %>
      </div>
      <div class="footer-subtitle my-2">
        <div class="d-flex">
          <div>
            <%= link_to "https://www.facebook.com/easyendo", target: "_blank" do  %>
              <i class="fab fa-facebook-f mr-2"></i>
            <% end %>
          </div>
          <div>
            <%= link_to "https://www.instagram.com/easyendo.app/", target: "_blank" do  %>
              <i class="fab fa-instagram mr-2"></i>
            <% end %>
          </div>
          <div>
            <%= link_to "https://www.linkedin.com/company/m-e-care/", target: "_blank" do  %>
              <i class="fab fa-linkedin-in mr-2"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-3">
      <div class="footer-title">
        Cadre réglementaire
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "Politique de protection des données personnelles", politics_path  %>
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "Conditions générales d'utilisation", use_conditions_path  %>
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "Conditions générales des services", service_conditions_path  %>
      </div>
      <div class="footer-subtitle my-2">
        <%= link_to "Mentions légales", legals_path  %>
      </div>
    </div>
    <div class='ml-3 mt-2'>
      <div class="mb-4">
        <%= image_tag "esante.svg", class: 'footer-label' %>
      </div>
      <div class="mb-4">
        <%= image_tag "resendo.svg", class: 'footer-label' %>
      </div>
    </div>
  </div>
  <div class="text-center text-mini">
    © 2020 M&E Care - easy endo
  </div>
</footer>
