<div class="row mt-4">
  <div class="col-4 col-lg-6">
    <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
      <%= image_tag "agenda/pain.svg", class: "symptom-icon", data: { action: "click->agenda#toggle", symptom: "pain" } %>
      <h3 data-action="click->agenda#toggle" data-symptom="pain">Douleurs</h3>
    </div>
  </div>
  <div class="col-4 col-lg-6">
    <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
      <%= image_tag "agenda/blood.svg", class: "symptom-icon", data: { action: "click->agenda#toggle", symptom: "blood" } %>
      <h3 data-action="click->agenda#toggle" data-symptom="blood">Saignements</h3>
    </div>
  </div>
  <div class="col-4 col-lg-6">
    <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
      <%= image_tag "agenda/digestive_trouble.svg", class: "symptom-icon", data: { action: "click->agenda#toggle", symptom: "digestiveTrouble" } %>
      <h3 data-action="click->agenda#toggle" data-symptom="digestiveTrouble">Troubles digestifs</h3>
    </div>
  </div>
  <div class="col-4 col-lg-6">
    <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
      <%= image_tag "agenda/stress.svg", class: "symptom-icon", data: { action: "click->agenda#toggle", symptom: "stress" } %>
      <h3 data-action="click->agenda#toggle" data-symptom="stress">Stress</h3>
    </div>
  </div>
  <div class="col-4 col-lg-6">
    <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
      <%= image_tag "agenda/insomnia.svg", class: "symptom-icon", data: { action: "click->agenda#toggle", symptom: "insomnia" } %>
      <h3 data-action="click->agenda#toggle" data-symptom="insomnia">Insomnie</h3>
    </div>
  </div>
  <div class="col-4 col-lg-6">
    <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
      <%= image_tag "agenda/sport.svg", class: "symptom-icon", data: { action: "click->agenda#toggle", symptom: "sport" } %>
      <h3 data-action="click->agenda#toggle" data-symptom="sport">Sport</h3>
    </div>
  </div>
  <div class="col-4 col-lg-6">
    <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
      <%= image_tag "agenda/analgesic.svg", class: "symptom-icon", data: { action: "click->agenda#toggle", symptom: "analgesic" } %>
      <h3 data-action="click->agenda#toggle" data-symptom="analgesic">Antalgiques</h3>
    </div>
  </div>
  <div class="col-4 col-lg-6">
    <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
      <%= image_tag "agenda/emergency.svg", class: "symptom-icon", data: { action: "click->agenda#toggle", symptom: "emergency" } %>
      <h3 data-action="click->agenda#toggle" data-symptom="emergency">Consultations Urgences</h3>
    </div>
  </div>
  <div class="col-4 col-lg-6">
    <div class="icon-agenda d-flex flex-column justify-content-center align-items-center">
      <%= image_tag "agenda/notes.svg", class: "symptom-icon", data: { action: "click->agenda#toggle", symptom: "notes" } %>
      <h3 data-action="click->agenda#toggle" data-symptom="notes">Notes</h3>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="d-flex justify-content-center align-items-center h-100">
      <p class="reset-filters text-center" data-action="click->agenda#resetFilters">Effacer les filtres</p>
    </div>
  </div>
</div>
