<div class="bg padding-top-navbar">
  <div class="container pb-5">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <div class="text-left">

        <h1 class="mt-md-5 mb-4 mb-md-5 text-center">easy endo vous aide à mieux vivre votre endométriose</h1>
        <div style="padding:56.25% 0 0 0;position:relative;">
          <iframe src="https://player.vimeo.com/video/527340681" width="640" height="360" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="d-flex flex-column-reverse flex-md-column">
          <div>
            <h2 class="mt-4 mt-md-5 mb-0 text-center">
              Vous souffrez d’endométriose ?
            </h2>
            <h2 class="mt-0 mb-0 text-center">
              Vous recherchez un suivi personnalisé, des conseils d’experts et un accompagnement pluridisciplinaire ?
            </h2>
            <p class="text-center mt-3">Créez votre compte easy endo et accédez <b class="text-green">gratuitement</b> à tous nos services <b class="text-green">en illimité !</b></p>
          </div>
          <div class="d-flex justify-content-around justify-content-md-center d-block d-lg-none mt-4">
            <%= link_to "JE M'INSCRIS", new_user_registration_path, data: {turbolinks: "false"}, class: "btn-ee btn btn-primary text-mini mr-md-2" %>

            <%= link_to "JE ME CONNECTE", new_user_session_path, class: "btn btn-primary btn-ee text-mini ml-md-2" %>
          </div>
        </div>

        <h2 class="mt-4 mt-md-5 mb-4 text-center">À propos</h2>
        <p class=" mb-4">L’endométriose est une maladie chronique qui touche une femme sur sept. Elle est encore mal connue des médecins et sous-diagnostiquée. C’est pourquoi <%= link_to "deux médecins expertes", team_path %>  ont créé </p>
        <div class="text-center">
          <%= image_tag "logo-pink.svg" %>
        </div>
        <p class="mt-4 ">Validée par un <%= link_to 'comité scientifique', team_path(anchor: 'scientific') %>, cette application web vous donne accès aux dernières actualités de l’endo, à des informations d’experts, ainsi qu’à des informations personnalisées pluridisciplinaires. Vous pourrez évaluer vos symptômes au quotidien, et surtout partager vos expériences et ressentis avec d’autres femmes.</p>

        <h2 class="mt-5 mb-5 mb-md-4 text-center">Vos services</h2>

        <div class="d-none d-md-block">
          <%= render "pages/services-desktop" %>
        </div>

        <div class="d-block d-md-none">
          <%= render "pages/services-mobile" %>
        </div>

        <p><span class="text-ee">easy endo</span> vous accompagne dans une approche experte et bienveillante dans tous les aspects relatifs à votre maladie.</p>
        <%= link_to new_user_registration_path, data: {turbolinks: "false"} do %>
          <h2 class="text-center mt-4 mb-5">Rejoignez-nous !</h2>
        <% end %>
      </div>
    </div>
    <%= render 'shared/partners' %>
  </div>
</div>
