<div class="bg padding-top-navbar">
  <div class="container pb-5">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <div class="text-left">

        <h1 class="mt-md-5 mb-5 text-center">easy endo vous aide à mieux vivre votre endométriose</h1>

        <div class="row">
          <div class="col-6 col-md-4 mb-3 mb-md-4">
            <%#= link_to "#" do %>
              <div class="home-service-category d-flex flex-column align-items-center justify-content-center text-center">
                <%= image_tag "services/agenda.svg", class:"home-service-logo" %>
                <p class="home-service my-1">Mon agenda</p>
              </div>
            <%# end %>
          </div>
          <div class="col-6 col-md-4 mb-3 mb-md-4">
            <%= link_to main_app.infoendos_path do %>
              <div class="home-service-category d-flex flex-column align-items-center justify-content-center text-center">
                <%= image_tag "services/a-savoir.svg", class:"home-service-logo" %>
                <p class="home-service my-1">À savoir</p>
              </div>
            <% end %>
          </div>
          <div class="col-6 col-md-4 mb-3 mb-md-4">
            <%= link_to main_app.articles_path do %>
              <div class="home-service-category d-flex flex-column align-items-center justify-content-center text-center">
                <%= image_tag "services/news.svg", class:"home-service-logo" %>
                <p class="home-service my-1">News</p>
              </div>
            <% end %>
          </div>
          <div class="col-6 col-md-4 mb-3 mb-md-4">
            <%= link_to main_app.algorythm_path, data: {turbolinks: "false"} do %>
              <div class="home-service-category d-flex flex-column align-items-center justify-content-center text-center">
                <%= image_tag "services/que-faire-si.svg", class:"home-service-logo" %>
                <p class="home-service my-1">Que faire si… </p>
              </div>
            <% end %>
          </div>
          <div class="col-6 col-md-4 mb-3 mb-md-4">
            <%#= link_to "#" do %>
              <div class="home-service-category d-flex flex-column align-items-center justify-content-center text-center">
                <%= image_tag "services/forum.svg", class:"home-service-logo" %>
                <p class="home-service my-1 d-flex align-items-center">
                  <span>Forum</span>
                  <% if current_user.unread_posts_count != 0 %>
                    <span class="pink-bullet ml-1"><%= current_user.unread_posts_count %></span>
                  <% end %>
                </p>
              </div>
            <%# end %>
          </div>
          <div class="col-6 col-md-4 mb-3 mb-md-4">
            <%= link_to main_app.webinars_path do %>
              <div class="home-service-category d-flex flex-column align-items-center justify-content-center text-center">
                <%= image_tag "services/easy-live.svg", class:"home-service-logo" %>
                <p class="home-service my-1">easy Live</p>
              </div>
            <% end %>
          </div>
        </div>

        <div class="dropdown-divider dropdown-divider-short mx-auto my-4"></div>

        <div class="d-none d-md-block">
          <%= render "pages/services-desktop" %>
        </div>

        <div class="d-block d-md-none">
          <%= render "pages/services-mobile" %>
        </div>

        <div class="dropdown-divider dropdown-divider-short mx-auto mt-4 mb-5"></div>

        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/366485030?color=035E70&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

        <p class="text-center home-service mt-5 mb-4">Ils parlent de nous</p>
        <div class="d-flex align-items-center justify-content-between">
          <%= image_tag "partenaires/figaro-sante.png", class: 'home-partner-logo' %>
          <%= image_tag "partenaires/rtl.png", class: 'home-partner-logo' %>
          <%= image_tag "partenaires/france-5.png", class: 'home-partner-logo' %>
          <%= image_tag "partenaires/cnews.png", class: 'home-partner-logo' %>
        </div>
      </div>
    </div>
  </div>
</div>
