<div class="d-flex flex-column align-items-center mb-4">
  <div class="text-center">
    <%= image_tag "services/agenda.svg", class:"home-service-logo" %>
    <p class="home-service my-1">Mon agenda</p>
  </div>
  <p>
    Vous accompagne au quotidien pour tout noter, et avoir une vision globale de votre maladie pour un meilleur suivi.
  </p>
</div>

<div class="d-flex flex-column align-items-center mb-4">
  <div class="text-center">
    <%= image_tag "services/a-savoir.svg", class:"home-service-logo" %>
    <p class="home-service my-1">À savoir</p>
  </div>
  <p>
    Vous livre toutes les connaissances de base sur l’endométriose : pour bien se soigner, il faut être bien informée !
  </p>
</div>

<div class="d-flex flex-column align-items-center mb-4">
  <div class="text-center">
    <%= image_tag "services/news.svg", class:"home-service-logo" %>
    <p class="home-service my-1">News</p>
  </div>
  <p>
    Afin de rester au cœur de l’info sur l’endo, <span class="text-ee">easy endo</span> joue les reporters rien que pour vous !
  </p>
</div>

<div class="d-flex flex-column align-items-center mb-4">
  <div class="text-center">
    <%= image_tag "services/que-faire-si.svg", class:"home-service-logo" %>
    <p class="home-service my-1">Que faire si… </p>
  </div>
  <p>
    Choisissez votre situation, répondez à quelques questions, et vous obtiendrez une information adaptée !
  </p>
</div>

<div class="d-flex flex-column align-items-center mb-4">
  <div class="text-center">
    <%= image_tag "services/forum.svg", class:"home-service-logo" %>
    <p class="home-service my-1">Forum</p>
  </div>
  <p>
    Véritable communauté où vous échangez avec des femmes qui vous comprennent. Fini l’isolement.
  </p>
</div>

<div class="d-flex flex-column align-items-center mb-4">
  <div class="text-center">
    <%= image_tag "services/easy-live.svg", class:"home-service-logo" %>
    <p class="home-service my-1">easy Live</p>
  </div>
  <p>
    Votre rendez-vous mensuel de 2 heures avec un expert pour poser en direct toutes vos questions.
  </p>
</div>
