<div class="d-flex align-items-center mb-4">
  <%= image_tag "services/agenda.svg", class:"home-service-logo mr-5" %>
  <p>
    <span class="home-service">Mon agenda</span>
    vous accompagne au quotidien pour tout noter, et avoir une vision globale de votre maladie pour un meilleur suivi.
  </p>
</div>

<div class="d-flex align-items-center mb-4">
  <%= image_tag "services/a-savoir.svg", class:"home-service-logo mr-5" %>
  <p>
    <span class="home-service">À savoir</span>
    vous livre toutes les connaissances de base sur l’endométriose : pour bien se soigner, il faut être bien informée !
  </p>
</div>

<div class="d-flex align-items-center mb-4">
  <%= image_tag "services/news.svg", class:"home-service-logo mr-5" %>
  <p>
    <span class="home-service">News</span>
    afin de rester au cœur de l’info sur l’endo, <span class="text-pink">easy endo</span> joue les reporters rien que pour vous !
  </p>
</div>

<div class="d-flex align-items-center mb-4">
  <%= image_tag "services/que-faire-si.svg", class:"home-service-logo mr-5" %>
  <p>
    <span class="home-service">Que faire si… </span>
    choisissez votre situation, répondez à quelques questions, et vous obtiendrez une information adaptée !
  </p>
</div>

<div class="d-flex align-items-center mb-4">
  <%= image_tag "services/forum.svg", class:"home-service-logo mr-5" %>
  <p>
    <span class="home-service">Forum</span>
    véritable communauté où vous échangez avec des femmes qui vous comprennent. Fini l’isolement.
  </p>
</div>

<div class="d-flex align-items-center mb-4">
  <%= image_tag "services/easy-live.svg", class:"home-service-logo mr-5" %>
  <p>
    <span class="home-service">easy Live</span>
    votre rendez-vous mensuel de 2 heures avec un expert pour poser en direct toutes vos questions.
  </p>
</div>
