<div class="container padding-top-navbar">
  <h1>Abonnements</h1>
  <div class="d-flex justify-content-center mt-4">
    <% @prices_and_sessions.each do |ps| %>
      <div class="checkout-card">
        <h3><%= ps[:name] %></h3>
        <h1><%= ps[:price] %></h1>
        <button class="btn btn-primary btn-ee mt-2 checkout-button" role="link" data-session-id="<%= ps[:checkout_id] %>">
            Je m'abonne
        </button>
      </div>
    <% end %>
  </div>


  <h1 class="mt-5 mb-4">Utiliser un coupon</h1>
  <%= simple_form_for :coupon, url: use_coupon_path do |f| %>
    <%= f.input :code, as: :string %>
    <% if @errors %>
      <p class="text-mini text-red"> <%= @errors %></p>
    <% end %>
    <%= f.submit "Chercher le coupon", class: 'btn btn-primary btn-ee mb-4' %>
  <% end %>

</div>


<div id="error-message"></div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe("<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>");

  var checkoutButtons = document.querySelectorAll('.checkout-button');
  checkoutButtons.forEach(checkoutButton => {
    checkoutButton.addEventListener('click', function () {
      stripe.redirectToCheckout({
        sessionId: checkoutButton.dataset.sessionId
      })
      .then(function (result) {
        if (result.error) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer.
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
    });
  });

</script>
