<div class="bg pb-5 padding-top-navbar">
  <div class="container">
    <div class="col-12 col-md-10 offset-md-1 d-none d-md-block mb-5">
      <span class="feature-name">ÉQUIPE</span>
    </div>
    <div class="col-12 col-md-8 offset-md-2">
      <div class="text-center mb-4">
        <h3 class="profil-category-title"><b>Équipe fondatrice</b></h3>
      </div>
      <div class="row mb-4">
        <div class="col-6 px-2 px-md-3 col-lg-4 mb-3">
          <div class="team-member">
            <%= image_tag "equipe/marie.jpg" %>
            <h3>Dr Marie Ceccarelli</h3>
            <p class="mb-0">Présidente</p>
            <p>fondatrice M&E Care</p>
          </div>
        </div>
        <div class="col-6 px-2 px-md-3 col-lg-4 mb-3">
          <div class="team-member">
            <%= image_tag "equipe/elodie.jpg" %>
            <h3>Dr Elodie Hénot</h3>
            <p class="mb-0">Directrice générale </p>
            <p>fondatrice M&E Care</p>
          </div>
        </div>
        <div class="col-8 offset-2 px-2 px-md-3 col-sm-6 offset-sm-3 col-lg-4 offset-lg-0 mb-3">
          <div class="team-member">
            <%= image_tag "equipe/pauline.jpg" %>
            <h3>Pauline Barbier</h3>
            <p>Directrice Marketing et Développement M&E Care</p>
          </div>
        </div>
      </div>

      <p class="team-description mb-4 px-md-4 px-lg-5 d-none d-md-block">
        Marie Ceccarelli, médecin spécialisée dans le suivi de l’endométriose, constatant la détresse de certaines femmes touchées par la maladie, a l’idée de créer une application web dédiée aux patientes. Elodie Hénot, radiologue, est immédiatement séduite par le projet. Naît ainsi easy endo. Pauline Barbier, impliquée dans cette cause, rejoint alors l’équipe pour mener à bien cette entreprise.
      </p>

      <div class="dropdown-divider dropdown-divider-short mx-auto my-5"></div>

      <div class="text-center mb-4">
        <h3 class="profil-category-title"><b>Comité scientifique</b></h3>
      </div>
      <div class="row mb-4">
        <div class="col-6 px-2 px-md-3 col-lg-8 offset-lg-2 mb-3">
          <div class="team-member">
            <%= image_tag "equipe/erick.jpg" %>
            <h3>Dr Erick Petit</h3>
            <p class="d-none d-md-block">Radiologue expert, Président de Resendo, Fondateur du centre de l’endométriose du Groupe Hospitalier Paris Saint-Joseph en 2006</p>
            <p class="d-md-none">Radiologue référent endométriose</p>
          </div>
        </div>
        <div class="col-6 px-2 px-md-3 col-lg-4 mb-3">
          <div class="team-member">
            <%= image_tag "equipe/soizic.jpg" %>
            <h3>Dr Soizic Le Parco</h3>
            <p class="d-none d-md-block">Gynécologue Obstétricienne spécialisée en fertilité et PMA, Institut Médical de la Fertilité</p>
            <p class="d-md-none">Gynécologue Obstétricienne</p>
          </div>
        </div>
        <div class="col-6 px-2 px-md-3 col-lg-4 mb-3">
          <div class="team-member">
            <%= image_tag "equipe/benjamin.jpg" %>
            <h3>Dr Benjamin Merlot</h3>
            <p class="d-none d-md-block">Chirurgien de l’endométriose, Co-fondateur de l’Institut Européen de l'Endométriose </p>
            <p class="d-md-none">Chirurgien de l’endométriose</p>
          </div>
        </div>
        <div class="col-6 px-2 px-md-3 col-lg-4 offset-lg-0 mb-3">
          <div class="team-member">
            <%= image_tag "equipe/elodie.jpg" %>
            <h3>Dr Elodie Hénot</h3>
            <p class="d-none d-md-block">Radiologue spécialisée en endométriose, membre de Resendo</p>
            <p class="d-md-none">Radiologue</p>
          </div>
        </div>
        <div class="col-6 px-2 px-md-3 col-lg-4 mb-3">
          <div class="team-member">
            <%= image_tag "equipe/vanessa.jpg" %>
            <h3>Vanessa Gouyot</h3>
            <p class="d-none d-md-block">Micronutritionniste, membre de Resendo, co-fondatrice de Format Nutrition</p>
            <p class="d-md-none">Micronutritionniste</p>
          </div>
        </div>
        <div class="d-lg-none col-6 px-2 px-md-3 col-lg-4 mb-3">
          <div class="team-member">
            <%= image_tag "equipe/caroline.jpg" %>
            <h3>Caroline Mollard</h3>
            <p class="d-none d-md-block">Kinésithérapeuthe spécialisée dans la kinésithérapie périnéale, membre de Resendo</p>
            <p class="d-md-none">Kinésithérapeuthe</p>
          </div>
        </div>
        <div class="col-6 px-2 px-md-3 offset-3 col-lg-4 offset-lg-0 mb-3">
          <div class="team-member">
            <%= image_tag "equipe/marie.jpg" %>
            <h3>Dr Marie Ceccarelli</h3>
            <p class="d-none d-md-block">Médecin spécialisée dans le suivi de l’endométriose, membre de Resendo</p>
            <p class="d-md-none">Médecin</p>
          </div>
        </div>
        <div class="d-none d-lg-flex col-6 px-2 px-md-3 col-lg-4 mb-3">
          <div class="team-member">
            <%= image_tag "equipe/caroline.jpg" %>
            <h3>Caroline Mollard</h3>
            <p class="d-none d-md-block">Kinésithérapeuthe spécialisée dans la kinésithérapie périnéale, membre de Resendo</p>
            <p class="d-md-none">Kinésithérapeuthe</p>
          </div>
        </div>
      </div>

      <div class="dropdown-divider dropdown-divider-short mx-auto my-5"></div>

      <div class="text-center mb-4">
        <h3 class="profil-category-title"><b>Équipe projet</b></h3>
      </div>
      <div class="row">
        <div class="col-6 px-2 px-md-3 col-md-4 mb-3">
          <div class="team-member">
            <h3>Pauline Barbier</h3>
            <p>Directrice Marketing et Développement</p>
          </div>
        </div>
        <div class="col-6 px-2 px-md-3 col-md-4 mb-3">
          <div class="team-member">
            <h3>Aurélie Legrand</h3>
            <p>Graphiste</p>
            <p class="address">aurelielegrand.fr</p>
          </div>
        </div>
        <div class="col-6 px-2 px-md-3 col-md-4 mb-3">
          <div class="team-member">
            <h3>Simon Letellier</h3>
            <p>Product/UX/UI Designer</p>
            <p class="address">kobayashi-design.com</p>
          </div>
        </div>
        <div class="col-6 px-2 px-md-3 col-md-4 mb-3">
          <div class="team-member">
            <h3>Nicolas Delage</h3>
            <p>Vidéaste - Bento prod</p>
            <p class="address">vimeo.com/bentoprod</p>
          </div>
        </div>
        <div class="col-6 px-2 px-md-3 col-md-4 mb-3">
          <div class="team-member">
            <h3>Claire Gautier</h3>
            <p>Développeur</p>
            <p class="address">claire-gautier.com</p>
          </div>
        </div>
        <div class="col-6 px-2 px-md-3 col-md-4 mb-3">
          <div class="team-member">
            <h3>Nicolas Vandenbussche</h3>
            <p>Développeur</p>
          </div>
        </div>
      </div>

      <div class="dropdown-divider dropdown-divider-short mx-auto my-5"></div>

      <div class="text-center mb-4">
        <h3 class="profil-category-title"><b>Soutiens</b></h3>
      </div>
      <div class="px-md-4 px-lg-5">
        <div class="partners mb-4">
          <div class="d-flex align-items-center mb-2">
            <span class="pink-bullet mr-2"></span>
            <h3 class="mb-0">Associés</h3>
          </div>
          <p>
            Olivier Nourry (Chef d’entreprise), Sarah D’Eer (Entrepreneuse, maman d’une petite fille, passionnée par le bien-être, la nutrition et la santé holistique), Fayçal Khalouli (Expert Data et Digital, 20 ans d’expérience) et Martine Wattel (Artiste peintre, écrivain)
          </p>
        </div>
        <div class="partners mb-4">
          <div class="d-flex align-items-center mb-2">
            <span class="pink-bullet mr-2"></span>
            <h3 class="mb-0">Autres soutiens</h3>
          </div>
          <p>
            Anne Lecuna (Coordinatrice du Centre de l’endométriose GHPSJ), Frédérique Perrotte (Sage-femme et coordinatrice de Resendo), Loys de la Soudière (Président fondateur de GoodsID)
          </p>
        </div>
        <div class="partners mb-4">
          <div class="d-flex align-items-center mb-2">
            <span class="pink-bullet mr-2"></span>
            <h3 class="mb-0">Contributeurs kisskissbankers</h3>
          </div>
          <p class="contributors">
            Alix d’A., Catherine A.D., Coralie A., Jennifer A., Sébastien A., Virginie A., Audrey B., Benoit B., Camille B., Chantal B., Clémentine B.N., Coralie B., Elise B., Fahima B., Heidi BP., Isabelle B., Laurent B., Léa-Lou B., Sarah B., Thomas B., Veronique B., Audrey C., Blandine C., Carole C., Catherine C., Céline C., Constance C., Judith C., Karen C., Marie C., Philippe François C., Ségolène C., Albert D, Amandine D., Anne D., Anne-Sophie D.A., Brigitte D., Camille D., Danièle D., Dorothée D., Edouard D., Eléonore D., Floriane D.S., Muriel D., Peggy D., Priscilla D., Sahlya D., Christina F., Claire-Charlotte F., Danièle F., Fanny F., Gaëlle F., Laetitia F., Laura F., Raphaëlle F., Agathe G., Amélie G., Aurélie G., Emma G., Hélène G., Salomé G., Vanessa G., Véronique G., Arnaud H., Aude H., Elodie H., Léa H., Odile H., Marine I., Fabrice J., Françoise J., Jess J., Petra K., Sarah K., Vincent K., Alice L., Anaïs L., Anne L., Arnaud L., Aude L., Bérangère L., Cassandra L., Denise L., Fanny L.B., Gaëlle L., Jade L., Julien L., Marie L., Marie L.P., Marie Lucienne L., Marjorie et Martin L., Mélanie L., Nathalie LB., Alexandre M., Alys M., Anthony M., Camille M., Caroline M., Cédric M., Eugénie M., Gérard M, Jean-Bernard M., Julien M., Marielle M-L., Mathilde et Sandy M., Morgane M., Nathalie M.T., Odile M., Ombeline M., Philippe M., Yves M., Benjamin N., Maelle N., Marion N., Pascale et Patrick N., Sanaz N., Bertrand P., Carole P., Chloé de P.P., Clémence P., Colette P., Delphine P., Dominique P., Frédérique P., Mathilde P., Nadège P., Nathalie P., Nicolas P., Perrine P., Marie Q., Sylvie Q., Ysis Q., Anne R., Delphine R., Jessica R., Laura R., Marina R., Alex S., Françoise S., Ginny S., Hélène S-C., Ibti S., Léa S., Lore S., Marie S., Marie-Christelle S., Stéphanie S., Bertrand T., Charlotte TC., Declan T., Myriam T., Olivier T., Solenn T., Véronique T., Marina U., Annabelle V., Caroline V., Claire V., Marie W., Martine W..
          </p>
        </div>
        <div class="d-flex align-items-center mb-2 mt-4">
          <span class="pink-bullet mr-2"></span>
          <h3 class="mb-0">Partenaires</h3>
        </div>
      </div>
      <div class="d-none d-lg-flex justify-content-between mt-4">
        <%= image_tag "partenaires/resendo.png", style:"height:80px;" %>
        <%= image_tag "partenaires/banque-postale.png", style:"height:80px;" %>
        <%= image_tag "partenaires/esantetech.png", style:"background-color:#091D41;padding:0 8px;height:80px;" %>
      </div>
      <div class="d-block d-lg-none mt-4">
        <div class="d-flex justify-content-between">
          <%= image_tag "partenaires/resendo.png", style:"height:80px;" %>
          <%= image_tag "partenaires/banque-postale.png", style:"height:80px;" %>
        </div>
        <div class="text-center mt-4">
          <%= image_tag "partenaires/esantetech.png", style:"background-color:#091D41;padding:0 8px;height:80px;" %>
        </div>
      </div>
    </div>
  </div>
</div>
