<div class="bg padding-top-navbar">
  <div class="container text-green">
    <div class="row d-none d-md-block">
      <div class="mb-3 col-12 col-md-10 offset-md-1">
        <span class="feature-name">QUESTIONNAIRE</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 mt-md-4 px-md-0">
        <p class="text-header text-semibold">Ce questionnaire a pour but de mieux vous connaître, afin de pouvoir vous traiter de façon adaptée. Il permettra également de mieux comprendre la maladie, et de faire progresser la science. Vous êtes libre d’y répondre. Vous pouvez à tout moment le corriger.</p>
      </div>
    </div>
    <div class="text-center">
      <div class="dropdown-divider dropdown-divider-short my-4 mx-auto"></div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 px-5 px-md-2" data-controller="form-information">
        <%= simple_form_for [@user, @information], url: url, method: method,
              wrapper_mappings: {
              } do |f| %>
          <%= f.input :date_of_birth, as: :string, required: false, input_html: {class: "datepicker", value: "#{@information.date_of_birth.strftime('%d-%m-%Y') if @information.date_of_birth }"}, label: "Date de naissance", placeholder: "JJ-MM-ANNEE" %>
          <%= f.input :family_situation, as: :radio_buttons, label: "Situation", collection: Information.family_situations.keys.map { |m| [t("information.#{m.downcase}"), m] }, wrapper: :horizontal_collection_inline_fam_situation %>
          <%= f.input :job, label: "Profession" %>
          <%= f.input :diagnosis_age, label: "Âge au diagnostic de votre endométriose", placeholder: 'ans' %>
          <div class="row" data-controller="imc">
            <div class="col-6 col-md-4">
              <%= f.input :size, placeholder: 'cm', label:'Taille (cm)', input_html: { data: { action: "keyup->imc#compute", target: "imc.size" } } %>
            </div>
            <div class="col-6 col-md-4">
              <%= f.input :weight, placeholder: 'kg', label:'Poids (kg)', input_html: { data: { action: "keyup->imc#compute", target: "imc.weight" } } %>
            </div>
            <div class="col-6 offset-3 col-md-4 offset-md-0">
              <%= f.input :imc, label:'IMC', readonly: true, input_html: { data: { target: "imc.output" } } %>
            </div>
          </div>


          <!-- FAMILY ANTECEDENT -->
          <%= f.input :family_antecedent, as: :radio_buttons,  wrapper: :horizontal_collection_inline, collection: [['oui', true],['non', false]], label:'Antécédents familiaux d’endométriose', input_html: { data: { action: "click->form-information#enableOrDisable", name: "familyAntecedent"} } %>

          <%= f.association :fam_member_antes, as: :check_boxes, collection: FamMemberAnte.all, wrapper_html: { data: { target: "form-information.familyAntecedent"}} %>


          <!-- CHILDREN -->
          <%= f.input :children, as: :radio_buttons,  wrapper: :horizontal_collection_inline, collection: [['oui', true],['non', false]], label: 'Enfants', input_html: { data: { action: "click->form-information#enableOrDisable", name: "children"} } %>
          <%= f.input :children_number, label: false, placeholder: 'nombre', input_html: { data: { target: "form-information.children"}} %>

          <!-- MISCARRIAGE -->
          <%= f.input :miscarriage, as: :radio_buttons,  wrapper: :horizontal_collection_inline, collection: [['oui', true],['non', false]], label:'Antécédents de fausse couche', input_html: { data: { action: "click->form-information#enableOrDisable", name: "miscarriage"} } %>
          <%= f.input :miscarriage_number, label: false, placeholder: 'nombre', input_html: { data: { target: "form-information.miscarriage"}} %>

          <!-- ABORTION -->
          <%= f.input :abortion, as: :radio_buttons,  wrapper: :horizontal_collection_inline, collection: [['oui', true],['non', false]], label:'Antécédents d’interruption volontaire de grossesse' , input_html: { data: { action: "click->form-information#enableOrDisable", name: "abortion"} } %>
          <%= f.input :abortion_number, label: false, placeholder: 'nombre', input_html: { data: { target: "form-information.abortion"}} %>


          <%= f.input :pma, as: :radio_buttons,  wrapper: :horizontal_collection_inline, collection: [['oui', true],['non', false]], label: 'Antécédents ou en cours de procréation médicalement assistée' %>


          <!-- AUTOIMMUNE ANTECEDENT -->
          <%= f.input :auto_immune_antecedent, as: :radio_buttons,  wrapper: :horizontal_collection_inline, collection: [['oui', true],['non', false]], label: 'Antécédents personnels de maladie auto-immune ou inflammatoire chronique', input_html: { data: { action: "click->form-information#enableOrDisable", name: "autoImmuneAntecedent"} } %>
          <%= f.association :diseases, as: :check_boxes, collection: @displayed_diseases, wrapper_html: { data: { target: "form-information.autoImmuneAntecedent"}, class:"mb-2 mt-4" } %>
          <%= f.input :other_disease, label: false, placeholder: "Autres à préciser", input_html: { data: { target: "form-information.autoImmuneAntecedent"}, class: "ml-1" } %>

          <!-- ENDO SURGERY -->
          <%= f.input :endo_surgery, as: :radio_buttons,  wrapper: :horizontal_collection_inline, collection: [['oui', true],['non', false]], label:'Antécédents de chirurgie de l’endométriose', input_html: { data: { action: "click->form-information#enableOrDisable", name: "endoSurgery"} } %>
          <%= f.input :endo_surgery_number, label: false, placeholder: 'nombre', input_html: { data: { target: "form-information.endoSurgery"}} %>


          <%= f.input :pain_center, as: :radio_buttons,  wrapper: :horizontal_collection_inline, collection: [['oui', true],['non', false]], label:'Prise en charge par un centre de la douleur' %>
          <%= f.input :physiotherapist, as: :radio_buttons,  wrapper: :horizontal_collection_inline, collection: [['oui', true],['non', false]], label: 'Recours à la kinésithérapie' %>
          <%= f.input :ostheopath, as: :radio_buttons,  wrapper: :horizontal_collection_inline, collection: [['oui', true],['non', false]], label: 'Recours à l’ostéopathie' %>


          <!-- ALTERNATIVE THERAPY -->
          <%= f.input :alternative_therapy, as: :radio_buttons,  wrapper: :horizontal_collection_inline, collection: [['oui', true],['non', false]], label: 'Recours à des thérapies complémentaires', input_html: { data: { action: "click->form-information#enableOrDisable", name: "alternativeTherapy"} } %>
          <div id='terms'></div>
          <%= f.association :alternative_therapies, as: :check_boxes, collection: @displayed_therapies, label: false, wrapper_html: { data: { target: "form-information.alternativeTherapy" }, class:"mb-2 mt-4" } %>
          <%= f.input :other_alternative_therapy, label: false, placeholder: "Autres à préciser", input_html: { data: { target: "form-information.alternativeTherapy"}, class: "ml-1" } %>

          <% if @anchor %>
            <script type="text/javascript">
              window.location.hash = "<%= @anchor %>";
            </script>
          <% end %>
          <%= f.input :terms_conditions, as: :boolean, required: true, label:'En cochant cette case, j’accepte expressément que mes données personnelles de santé soient traitées par easy endo aux fins d’amélioration de mon expérience d’utilisation de l’application. Je suis également informée que, sauf opposition expresse de ma part, mes données, préalablement pseudonymisées conformément à la réglementation applicable à la protection des données personnelles, pourront être transmises par easy endo à des laboratoires publics ou privés de recherche aux fins de mener des études et projets de recherche clinique sur l’endométriose et/ou les maladies et syndromes apparentés. Enfin, je suis informée que mes données de santé, à l’exclusion de toute donnée personnelle me concernant, pourront être réutilisées par easy endo aux fins de réaliser des enquêtes épidémiologiques, scientifiques et/ou statistiques pour faire avancer tant la prise en charge médicale que la couverture sociale des patientes. <br><br> Pour en savoir plus sur les traitements de vos données opérés par easy endo et les droits que vous détenez sur celles-ci, nous vous invitons à lire attentivement notre <strong>politique de confidentialité.</strong>'.html_safe %>
          <div class="text-center">
            <%= f.button :submit, "JE VALIDE", class: 'btn btn-primary btn-ee my-4 text-mini' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
