<%= simple_form_for subject do |f| %>
  <%= f.association :forum_category, label: 'Catégorie' %>
  <%= f.input :title, label: 'Titre' %>
  <div class="subject_content">
    <%= f.input :content, as: :rich_text_area, label: 'Contenu' %>
  </div>
  <div class="text-center">
    <%= f.submit "Je valide", class: 'btn btn-primary btn-ee mb-4' %>
  </div>
<% end %>
