<% content_for :meta_title, "Forum | easy endo" %>
<div class="bg padding-top-navbar pb-5 min-100-vh-with-footer" data-controller='active-tab' data-active-tab-name='<%= params[:active] %>'>
  <div class="container text-green">
    <div class="col-12 col-md-10 offset-md-1 p-0">
      <div class="d-none d-md-block">
        <%= link_to forum_path do %>
          <span class="feature-name">FORUM</span>
        <% end %>
      </div>
      <% if !current_user.forum_consent %>
        <div class="my-3">
          <%= simple_form_for current_user, url: consent_path(current_user, method: :patch) do |f| %>
            <div class="text-center">
              <%= f.input :forum_consent, as: :boolean, label: 'Cochez la case et validez' %>
              <%= f.submit "J'accepte les conditions d'utilisation du forum easy endo", class:'btn btn-primary btn-ee mt-4' %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="col-12 mt-md-5 p-0">
          <div class="btn-group dropdown-group-light w-100">
            <button type="button" class="btn btn-dropdown w-100 py-3 d-flex justify-content-between align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="d-flex">
                <% if params[:forum_category] %>
                  <%= params[:forum_category] %>
                <% else %>
                  Filtrer
                <% end %>
              </span>
              <span>
                <i class="fas fa-chevron-down"></i>
              </span>
            </button>
            <div class="dropdown-menu dropdown-menu-light pt-2 pb-3 px-0">
              <% ForumCategory.all.order('name ASC').each do |category| %>
                <% unless category == ForumCategory.all.order('name ASC').first %>
                  <div class="dropdown-divider my-2"></div>
                <% end %>
                  <%= link_to category.name, forum_path(forum_category: category.name), class: 'dropdown-item px-3'  %>
              <% end %>
            </div>
          </div>
          <div class="mb-3 text-right">
          <%= link_to "Effacer les filtres", forum_path, class: 'filter-link'%>
          </div>
          <div class="card-columns">
            <% @subjects.each do |subject| %>
              <div class="card-subject my-3 p-3 w-100 shadow">
                <div class="d-flex justify-content-between">
                  <span class="badge badge-pill badge-light">
                    <%= subject.forum_category.name %>
                  </span>
                  <% if current_user.follow_subjects.find_by(subject: subject, seen: false) %>
                    <i class="fas fa-bell icon-pink"></i>
                  <% end %>
                </div>
                <h2 class="mt-3 mb-0">
                  <%= subject.title %>
                </h2>
                <div class="text-mini">
                  Il y a <%= time_ago_in_words(subject.created_at) %>
                </div>
                <div class="mt-3">
                  <%= link_to "Répondre", subject_path(subject), class: 'btn btn-primary btn-small'  %>
                </div>
                <div class="dropdown-divider mb-2 mt-3"></div>
                <div class="text-mini">
                  <em><%= subject.answers.count %> commentaire(s)</em>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <%= will_paginate @subjects %>
        </div>
      <% end %>
    </div>
  </div>
</div>
