<div class="bg  padding-top-navbar">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <h1 class="text-center my-4">easy endo vous aide à mieux vivre votre endométriose</h1>
      </div>
      <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4">

        <div class="px-5 mt-4">
          <h2>Connexion</h2>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          label: false,
                          placeholder: "Email",
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          label: false,
                          placeholder: "Email",
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions text-center mt-4 pt-2">
              <div>
                <%= f.button :submit, "JE ME CONNECTE", class: 'btn btn-primary btn-ee' %>
              </div>
              <div>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          <% end %>
          <div class="text-center my-5">
            <h2>Ils parlent de nous</h2>
            <div>
              Logo logo logo logo
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
