<div class="my-5">
  <div class="mb-3 d-flex align-items-center">
    <h2 class="text-underline mb-0">News</h2>
    <%= link_to '+ créer une news', new_dashboards_article_path, class:"ml-5 mb-0" %>
  </div>

  <% @articles.each do |article| %>
    <div class="d-flex align-items-center mt-2">
      <% if article.published %>
        <%= link_to unpublish_article_path(article), method: :patch, remote: true, data: {confirm: "Êtes vous sûr.e du dépublier cet article?"} do  %>
          <span class='published'>publié</span>
        <% end %>
      <% else %>
        <%= link_to publish_article_path(article), method: :patch, remote: true, data: {confirm: "Êtes vous sûr.e du publier cet article?"} do  %>
          <span class='unpublished'>non publié</span>
        <% end %>
      <% end %>
      <%= link_to article_path(article) do %>
        <h3 class="mb-0 ml-2"><%= article.title %></h3>
      <% end %>
      <% if policy(Article).edit? %>
        <%= link_to edit_dashboards_article_path(article), class:"ml-4" do %>
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
      <% if policy(Article).destroy? %>
        <%= link_to article_path(article), method: :delete, remote: true, data:{confirm: "Êtes vous sûr.e ?"}, class:"ml-2" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
