<% @articles.each do |article| %>
  <div class="d-flex-column mb-4">
    <%= link_to article_path(article) do %>
      <h3 class="mb-1"><%= article.title %></h3>
    <% end %>
    <div class="d-flex align-items-center">
      <% if article.published %>
        <%= link_to unpublish_article_path(article), method: :patch, remote: true, data: {confirm: "Êtes vous sûr.e du dépublier cet article?"}, class: 'd-flex align-items-center' do  %>
          <span class='published'>publié</span>
        <% end %>
      <% else %>
        <%= link_to publish_article_path(article), method: :patch, remote: true, data: {confirm: "Êtes vous sûr.e du publier cet article?"}, class: 'd-flex align-items-center' do  %>
          <span class='unpublished'>non publié</span>
        <% end %>
      <% end %>
      <span class='text-mini mb-0 ml-3'><%= l(article.publication_date, format:"%d %b %Y") %> </span>
      <% if policy(Article).edit? %>
        <%= link_to edit_dashboards_article_path(article), class:"ml-4" do %>
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
      <% if policy(Article).destroy? %>
        <%= link_to article_path(article), method: :delete, remote: true, data:{confirm: "Êtes vous sûr.e ?"}, class:"ml-2" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
