<div class= 'mt-3 mb-4'>
  <h1>Toutes les catégories</h1>
  <% @forum_categories.each do |fc| %>
  <div class="d-flex align-items-center">
    <% if policy(fc).edit? %>
      <%= link_to edit_dashboards_forum_category_path(fc), class:"mr-2" do %>
        <i class="far fa-edit"></i>
      <% end %>
    <% end %>
    <h3 class='mb-0'><%= fc.name %></h3>
  </div>
  <% end %>
</div>

<div>
  <h1>Tous les sujets</h1>
  <% @subjects.each do |subject| %>
    <span class="badge badge-pill badge-light">
      <%= subject.forum_category.name %>
    </span>
    <%= link_to subject_path(subject) do  %>
      <h2 class="my-2"><%= subject.title %></h2>
    <% end %>
    <div class="text-mini mt-1">
      Il y a <%= time_ago_in_words(subject.created_at) %>
    </div>
    <em><p class="mb-0">"<%= truncate(strip_tags(subject.content.to_s), length: 100) %>"</p></em>
    <div class="text-small mt-2">
      <div class="text-mini">
        <%= subject.answers.count %> commentaires
      </div>
      <% if policy(subject).edit? %>
        <%= link_to edit_dashboards_subject_path(subject), class:"mr-2" do %>
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
    </div>
    <div class="dropdown-divider my-3 mx-auto"></div>
  <% end %>
  <div class="d-flex justify-content-center mt-5">
    <%= will_paginate @subjects, params: { active: 'forum' } %>
  </div>
</div>

