<div class="bg padding-top-navbar pb-5 min-100-vh-with-footer">
  <div class="container text-green">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="d-none d-md-block">
        <%= link_to dashboard_path do %>
          <span class="feature-name">Dashboard</span>
        <% end %>
      </div>

      <%= render 'articles' %>

      <div class="mb-5">
        <div class="mb-3 d-flex align-items-center">
          <h2 class="text-underline mb-0">Easy Live</h2>
          <%= link_to '+ créer un webinar', new_dashboards_webinar_path, class:"ml-5 mb-0" %>
        </div>

        <% @webinars.each do |webinar| %>
          <div class="d-flex align-items-center mt-2">
            <%= link_to webinar_path(webinar) do %>
              <h3 class="mb-0"><%= webinar.title %></h3>
            <% end %>
            <% if policy(Webinar).edit? %>
              <%= link_to edit_dashboards_webinar_path(webinar), class:"ml-4" do %>
                <i class="far fa-edit"></i>
              <% end %>
            <% end %>
            <% if policy(Webinar).destroy? %>
              <%= link_to webinar_path(webinar), method: :delete, remote: true, data:{confirm: "Êtes vous sûr.e ?"}, class:"ml-2" do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <%= render 'infoendos' %>

    </div>
  </div>
</div>

