<div class=" padding-top-navbar pb-5 min-100-vh-with-footer">
  <div class="container text-green">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="d-none d-md-block">
        <%= link_to dashboard_path do %>
          <span class="feature-name">Dashboard</span>
        <% end %>
      </div>

      <ul class="nav nav-tabs mt-4 mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="true">News</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-webinar-tab" data-toggle="pill" href="#pills-webinar" role="tab" aria-controls="pills-webinar" aria-selected="false">easy Live</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-infoendo-tab" data-toggle="pill" href="#pills-infoendo" role="tab" aria-controls="pills-infoendo" aria-selected="false">À savoir</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">

          <div class="my-4">
            <div class="mb-3 d-flex align-items-center">
              <!-- <h2 class="text-underline mb-0">News</h2> -->
              <%= link_to '+ créer une news', new_dashboards_article_path, class:"mb-3" %>
            </div>

            <% @articles.each do |article| %>
              <div class="d-flex align-items-center mt-2">
                <%= link_to article_path(article) do %>
                  <h3 class="mb-0"><%= article.title %></h3>
                <% end %>
                <% if policy(Article).edit? %>
                  <%= link_to edit_dashboards_article_path(article), class:"ml-4" do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                <% end %>
                <% if policy(Article).destroy? %>
                  <%= link_to article_path(article), method: :delete, remote: true, data:{confirm: "Êtes vous sûr.e ?"}, class:"ml-2" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>

        <div class="tab-pane fade" id="pills-webinar" role="tabpanel" aria-labelledby="pills-webinar-tab">

          <div class="my-4">
            <div class="mb-3 d-flex align-items-center">
              <!-- <h2 class="text-underline mb-0">easy Live</h2> -->
              <%= link_to '+ créer un webinar', new_dashboards_webinar_path, class:"mb-3" %>
            </div>

            <% @webinars.each do |webinar| %>
              <div class="d-flex align-items-center mt-2">
                <%= link_to webinar_path(webinar) do %>
                  <h3 class="mb-0"><%= webinar.title %></h3>
                <% end %>
                <% if policy(Webinar).edit? %>
                  <%= link_to edit_dashboards_webinar_path(webinar), class:"ml-4" do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                <% end %>
                <% if policy(Webinar).destroy? %>
                  <%= link_to webinar_path(webinar), method: :delete, remote: true, data:{confirm: "Êtes vous sûr.e ?"}, class:"ml-2" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>
        <div class="tab-pane fade" id="pills-infoendo" role="tabpanel" aria-labelledby="pills-infoendo-tab">

          <div class="my-4">
            <div class="mb-3 d-flex align-items-center">
              <!-- <h2 class="text-underline mb-0">À savoir</h2> -->
              <%= link_to '+ créer un à savoir', new_dashboards_infoendo_path, class:"mb-3" %>
            </div>

            <% @infoendos.each do |infoendo| %>
              <div class="d-flex align-items-center mt-2">
                <%= link_to infoendo_path(infoendo) do %>
                  <h3 class="mb-0"><%= infoendo.title %></h3>
                <% end %>
                <% if policy(Infoendo).edit? %>
                  <%= link_to edit_dashboards_infoendo_path(infoendo), class:"ml-4" do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                <% end %>
                <% if policy(Infoendo).destroy? %>
                  <%= link_to infoendo_path(infoendo), method: :delete, remote: true, data:{confirm: "Êtes vous sûr.e ?"}, class:"ml-2" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

