<div class="graphs-container" data-target="charts.graphs" data-value="<%= @graphs.to_json %>">
  <% @graphs.first(3).each do |graph| %>
    <div data-symptom-target="<%= graph[:id] %>" class="mb-3 pr-2 pr-lg-3">
      <div class="d-flex align-items-center">
        <%= image_tag "agenda/#{graph[:img]}" %>
        <h3 class="mb-0"><%= graph[:name] %></h3>
      </div>
      <div class="chart-container">
        <canvas id="<%= graph[:id] %>"></canvas>
      </div>
    </div>
  <% end %>
  <% @graphs[3..4].each do |graph| %>
    <div class="mb-3 pr-2 pr-lg-3" data-symptom-target="<%= graph[:id] %>">
      <div class="d-flex align-items-center">
        <%= image_tag "agenda/#{graph[:img]}" %>
        <h3 class="mb-0"><%= graph[:name] %></h3>
      </div>
      <div class="chart-container">
        <canvas id="<%= graph[:id] %>"></canvas>
      </div>
    </div>
  <% end %>

  <% if params[:base_period].nil? || params[:base_period] == "month" || params[:base_period] == "week" %>
    <div class="mb-3" data-symptom-target="sportChart">
      <div class="d-flex align-items-center mb-2">
        <%= image_tag "agenda/sport.svg" %>
        <h3 class="mb-0">Sport</h3>
      </div>


      <% if params[:base_period] == "week" || params[:base_period].nil? || params[:base_period] == "month"%>
        <div class="pl-3 pl-lg-2">
          <div class="sport-container border-bottom">
            <% @sport_data.each do |day| %>
              <% if day %>
                <div class="sport-week">
                  <div class="sport-true"></div>
                </div>
              <% else %>
                <div class="sport-week"></div>
              <% end %>
            <% end %>
          </div>
          <% if params[:base_period] == "week" %>
            <div class="sport-container">
              <div class="sport-week">Lu</div>
              <div class="sport-week">Ma</div>
              <div class="sport-week">Me</div>
              <div class="sport-week">Je</div>
              <div class="sport-week">Ve</div>
              <div class="sport-week">Sa</div>
              <div class="sport-week">Di</div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div id="data-export" data-target="charts.export">
</div>
