<div class="graphs-container" data-target="charts.graphs" data-value="<%= @graphs.to_json %>">
  <% @graphs.first(3).each do |graph| %>
    <div data-symptom-target="<%= graph[:id] %>" class="mb-2">
      <div class="d-flex align-items-center">
        <%= image_tag "agenda/#{graph[:img]}" %>
        <h3 class="mb-0"><%= graph[:name] %></h3>
      </div>
      <div class="chart-container">
        <canvas id="<%= graph[:id] %>"></canvas>
      </div>
    </div>
  <% end %>
  <% @graphs[3..4].each do |graph| %>
    <div class="d-none mb-2" data-symptom-target="<%= graph[:id] %>">
      <div class="d-flex align-items-center">
        <%= image_tag "agenda/#{graph[:img]}" %>
        <h3 class="mb-0"><%= graph[:name] %></h3>
      </div>
      <div class="chart-container">
        <canvas id="<%= graph[:id] %>"></canvas>
      </div>
    </div>
  <% end %>
</div>
