<%= simple_form_for webinar do |f| %>
  <div data-controller="photo-preview">
    <div class="mt-4">
      <%= f.input :speaker_picture, as: :file, wrapper_html: { class: "mb-0"}, input_html: { class: 'd-none', data: { action: "change->photo-preview#display", target:"photo-preview.avatarInput" } }, label: "Photo de l'intervenant(e)*" %>
    </div>
    <div class="mb-3">
      <%= image_tag "", width: 300, class: "d-none avatar avatar-xl cursor-pointer", data: { target: "photo-preview.photoPreview", action: "click->photo-preview#clickInput" } %>

      <% if webinar.speaker_picture.attached? %>
        <%= cl_image_tag webinar.speaker_picture.key, width: 120, height: 120, crop: :fill, quality: :auto, fetch_format: :auto, class: "avatar avatar-xl cursor-pointer mr-3", data: { target: "photo-preview.currentAvatar", action: "click->photo-preview#clickInput" } %>
      <% else %>
        <%= cl_image_tag "avatar/avatar_default", width: 120, height: 120, crop: :fill, quality: :auto, fetch_format: :auto, class: "avatar avatar-xl cursor-pointer", data: { target: "photo-preview.currentAvatar", action: "click->photo-preview#clickInput" } %>
      <% end %>
    </div>
  </div>
  <small class="form-text text-muted mb-3">Pour de meilleures performances, pensez à utiliser une photo légère (moins de 200 Ko) et de taille adaptée à son usage (120px de large et de haut avec le visage centré dans l'idéal). Vous pouvez les optimiser avec  https://squoosh.app/ par exemple.</small>

  <%= f.input :speaker_name, label: t('.speaker_name'), placeholder: "Vanessa Gouyot" %>
  <%= f.input :title, label: t('.title'), placeholder: "Micronutrition et Endométriose" %>
  <%= f.input :start_at, label: t('.start_at') %>
  <%= f.input :category, collection: Webinar.categories.keys.collect { |m| [t("webinar.#{m.downcase}"), m] }, label: t('.category') %>



  <%= f.input :description, as: :rich_text_area, label: t('.description'), placeholder: "Décrivez votre webinar ici...", class: 'form-control' %>
  <%= f.submit "Enregistrer et publier", class: 'btn btn-primary btn-ee mb-4' %>
<% end %>

