<div class="container">
  <%= simple_form_for webinar do |f| %>
    <%= f.input :title, label: t('.title') %>
    <%= f.input :start_at, label: t('.start_at') %>
    <%= f.input :category, collection: Webinar.categories.keys.collect { |m| [t("webinar.#{m.downcase}"), m] }, label: t('.category') %>
    <%= f.input :speaker_name, label: t('.speaker_name') %>
    <%= f.input :speaker_picture, as: :file, label: t('.speaker_picture') %>
    <%= f.input :description, as: :rich_text_area, label: t('.description'), placeholder: "Description", class: 'form-control' %>
    <%= f.submit "Confirmer et publier le live", class: 'btn btn-primary btn-ee w-100 mb-4' %>
  <% end %>
</div>
