<div class="container padding-top-navbar">
  <h1>Utiliser un coupon</h1>
  <%= simple_form_for :coupon, url: use_coupon_path do |f| %>
    <%= f.input :code, as: :string %>
    <% if @errors %>
      <p class="text-mini text-red"> <%= @errors %></p>
    <% end %>
    <%= f.submit "Chercher le coupon", class: 'btn btn-primary btn-ee mb-4' %>
  <% end %>

  <% @products_and_sessions.each do |ps| %>
    <%= ps[:product].name %>
    <button class="btn btn-primary mb-5 mt-2 checkout-button" role="link" data-session-id="<%= ps[:checkout_id] %>">
        Continuer vers la page de paiement
    </button>
  <% end %>
</div>


<div id="error-message"></div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe("<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>");

  var checkoutButtons = document.querySelectorAll('.checkout-button');
  checkoutButtons.forEach(checkoutButton => {
    checkoutButton.addEventListener('click', function () {
      stripe.redirectToCheckout({
        sessionId: checkoutButton.dataset.sessionId
      })
      .then(function (result) {
        if (result.error) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer.
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
    });
  });

</script>
