<div class="navbar-bg">
  <div class="container">
    <div class="navbar navbar-light navbar-lewagon col-12 col-md-10 offset-md-1">
      <div class="nav-item dropdown">
        <% if controller_name == "users" || (controller_name == "registrations") && action_name == "edit" %>
          <%= link_to root_path do %>
            <%= image_tag "logo-pink-no-text.svg" %>
          <% end %>
        <% else %>
          <%= link_to profil_path do %>
            <%= cl_image_tag current_user.profile_picture, width: 120, height: 120, crop: :fill, quality: :auto, fetch_format: :auto, class: "avatar avatar-small" %>
          <% end %>
        <% end %>
      </div>
      <% if action_name == "home" %>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "logo-pink.svg" %>
        <% end %>
      <% elsif controller_name == "pages" %>
        <h1><%= t("views.controller_name.pages.action_name.#{action_name}")%></h1>
      <% elsif controller_name == "users" || controller_name == 'registrations' %>
        <%= link_to profil_path do %>
          <h1>Profil</h1>
        <% end %>
      <% elsif controller_name == "contacts"%>
        <h1><%= t("views.controller_name.contacts.action_name.#{action_name}")%></h1>
      <% elsif controller_name == "daily_symptoms" && (action_name == "new" || action_name == "edit") %>
        <h1>Mesures</h1>
      <% elsif controller_name == "daily_symptoms" && action_name == "graph" %>
        <h1>Synthèse</h1>
      <% elsif controller_name == "articles" %>
        <%= link_to articles_path do %>
          <h1>News</h1>
        <% end %>
      <% elsif controller_name == "infoendos" %>
        <%= link_to infoendos_path do %>
          <h1>À savoir</h1>
        <% end %>
      <% elsif controller_name == "webinars" %>
        <%= link_to webinars_path do %>
          <h1>easy Live</h1>
        <% end %>
      <% elsif controller_name == "subjects" %>
        <%= link_to forum_path do %>
          <h1>Forum</h1>
        <% end %>
      <% else %>
         <h1><%= t("views.controller_name.#{controller_name}")%></h1>
      <% end %>

      <button id="menu-burger" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </div>
</div>

<%= render "shared/navbar/mobile/navbar-mobile-menu" %>
