<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/meta_tags' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <link rel="manifest" href="<%= asset_path'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@500;600;700&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://js.stripe.com/v3/" defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GG_ANALYTICS_ID'] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "<%= ENV['GG_ANALYTICS_ID'] %>");
    </script>
  </head>

  <body>

    <div class="main-container">
      <%= render 'shared/navbar/navbar' %>

      <%= render 'shared/flashes' %>

      <%= yield %>

      <%= render 'shared/footer' %>

      <% unless cookies[:displayed_consent]  %>
        <div class="alert cookie-alert alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p class="mb-0">En poursuivant votre navigation vous acceptez l’utilisation de nos cookies à des fins statistiques et destinés à vous fournir des services et fonctionnalités optimisés sur notre application web.</p>
          <div class="d-flex justify-content-center align-items-center mt-3">
            <button type="button" class="btn btn-primary btn-ee mr-2" data-dismiss="alert" aria-label="Close">
              J'accepte
            </button>
            <%= link_to "En savoir +", asset_path("politique-de-protection-des-donnees-personnelles.pdf"), class:"ml-2 text-mini"  %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
